main {
  background: linear-gradient(0deg, #edebf6 0%, white 40%) !important;
  margin-bottom: 2%;
  .container {
    margin-top: 1rem;
    display: flex;

    @media (max-width: 1024px) {
      flex-direction: column;
    }
    .kariera {
      background-color: #ececf6;
      padding: 10% 10% 5% 10%;
      border-radius: 35px;
    }
    form {
      display: grid;
      align-items: center;

      label {
        font-size: 18px;
      }
      input {
        border: none;
        padding: 25px 15px 25px 15px;
        background-color: #ffffff;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
      select {
        border: none;
        padding: 25px 15px 25px 15px;
        background-color: #ffffff;
        border-bottom-left-radius: 15px;
      }
      textarea {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
      option {
        border: none;
        padding: 25px 15px 25px 15px;
        background-color: #ffffff;
        border-bottom-left-radius: 15px;
      }
      textarea {
        border: none;

        padding: 25px 15px 25px 15px;
        background-color: #ffffff;
        border-bottom-left-radius: 15px;
      }
    }
    .next-section {
      @media (max-width: 1024px) {
        margin-bottom: 2%;
      }

      .blok {
        text-align: center;
        flex-basis: auto;
        padding: 50px 15px 50px 15px;
        margin-bottom: 2%;
        max-width: 100%;
        background: #ececf6;
        border-radius: 35px;
        box-shadow: 0px 5px 12px -6px;

        .contact-wrapper {
          display: flex;
          justify-content: space-around;
          align-items: center;
          flex-direction: row;

          @media (max-width: 768px) {
            width: 50%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            align-items: flex-start;
          }
        }

        p {
          line-height: 1.4;
          font-size: 18px;
        }
        svg {
          text-align: center;
          align-content: center;
          font-size: 40px;
          color: #97bf20;
        }
        .title {
          text-align: center;
          font-size: 28px;
          font-weight: 600;
        }
      }

      @media (min-width: 720px) {
        .col {
          flex-basis: auto;
          max-width: 33%;
        }
      }
    }
  }
}
