//*{
//  border:1px solid black;
//}

.container-fluid {
  .cookie-policy-bar {
    background-color: #fff;
    left: 0;
    bottom: 0;
    position: fixed;
    margin: 0;
    padding: 10px;
    z-index: 9999;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 7px 27px -12px #000000;

    @media (max-width: 962px) {
      flex-direction: column;
    }

    .cookie-policy-text {
      margin-block: 0px;
      padding: 0 10px;
      color: #042346;

      @media (max-width: 962px) {
        font-size: 0.75rem;
      }
    }

    .cookie-policy-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;

      .cookie-policy-link {
        margin-right: 15px;
        color: #042346;
        text-decoration: underline;

        @media (max-width: 962px) {
          font-size: 0.75rem;
        }
      }

      .cookie-policy-button:hover {
        background-color: #218838 !important;
        border-color: #1e7e34 !important;
      }

      .cookie-policy-button {
        background-color: #a0bd49;
        color: #fff;
        font-weight: 700;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }

  .container {
    .footer-col {
      h4 {
        color: white;
      }
    }

    .footer {
      color: white;
      a {
        color: white;
        text-decoration: none;

        @media (max-width: 1024px) {
          font-size: 0.8rem;
        }
      }

      .row {
        color: white !important;
        ul {
          color: white !important;
          list-style: none;
          padding: 0;
        }
        @media (min-width: 720px) {
          ul {
            font-weight: 400 !important;
            padding-left: 40px;
          }
        }
        li:before {
          content: "> ";
        }

        li {
          color: #33ccff;
        }

        .info {
          width: 90%;
          color: white;
          p {
            color: white;

            @media (max-width: 1024px) {
              font-size: 0.8rem;
            }
          }
          strong {
            color: white;
          }
        }

        .footer-col {
          text-align: center;
          padding-top: 80px;
          padding-bottom: 25px;
          width: 100%;
        }

        .list-container {
          padding-left: 0 !important;
          padding-right: 0 !important;
          text-align: center;
          h4 {
            padding-left: 0;
            padding-bottom: 15px;
            border-bottom: 1px solid white;
          }
          .card {
            border-radius: 5%;
            background-color: #2ebfff;
            text-align: center;
            color: white;

            .card-text {
              color: white;
            }
            .card-title {
              color: white;
            }
            p {
              color: white;
            }

            .card-body {
              p {
                padding-top: 10px;
                font-size: 15px;
              }
              .btn {
                font-weight: 700;
                padding: 10px 5px 15px 5px;
              }
            }
          }
        }
        @media (min-width: 720px) {
          .footer-col {
            text-align: left;
          }
          .list-container {
            text-align: left;
            h4 {
              padding-left: 15%;
              padding-bottom: 15px;
              border-bottom: 1px solid white;
            }
          }
        }
      }
    }
  }
}

.socials-navigation {
  padding-left: 30px;
}
