.header {
  height: 550px;
  -moz-border-radius-bottomleft: 50px;
  border-bottom-left-radius: 120px 70px;
}


.menu {
  display: -ms-flexbox;
  color: white;
  flex-direction: row;
  display: flex;
  -ms-flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  a{
    color:white !important;
    padding: 15px;
  }
  .menu-item {
    padding-right: 0;
    padding-left: 0;
  }
}

.nav-link, .a{
  color: white;
}

.tag{
  position: absolute;
  font-weight: 700;
  color: white;
  top: 31%;
  left: 30%;
  transform: translate(-50%, -50%);
  clear: both;
  font-size: 46px;
}

.mobile-list {
  display: none;
}

.navbar {
  top: 0;
  width: 100%;

}

.search-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: lawngreen;
  height: 40px;
  width: 40px;
  cursor: pointer;
}

.search-icon img {
  max-width: 50%;
}

.secondary-header {
  background-color: #fff;
  .menu {

  }

  a {
    color: #27415F;
  }
}



@media (max-width: 1024px) {
  .desktop-navbar {
    display: none;
  }

  .menu-right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .mobile-navbar {
    display: block;
    position: absolute;
    width: 35px;
    height: 8px;
    background-color: lawngreen;
    top: 2rem;
    right: 8%;
    z-index: 9999;
  }

  .mobile-wrapper {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 5%;
    top: 2rem;
    right: 8%;
  }

  .active {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    animation: fadeIn 0.5s ease-in-both;
  }






  .mobile-navbar::before {
    content: '';
    display: block;
    position: absolute;
    width: 45px;
    height: 8px;
    background-color: lawngreen;
    top: 1rem;
    right: 8%;
    z-index: 3;
  }

  .mobile-navbar::after {
    content: '';
    display: block;
    position: absolute;
    width: 45px;
    height: 8px;
    background-color: lawngreen;
    top: -1rem;
    right: 8%;
    z-index: 3;
  }

  .menu {
    display: flex;
    height: 25%;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    font-size: 1.3rem;
    a{
      color:black !important;
      padding: 1rem;
    }
  }


}


button{
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
}


