.header {
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    height: 100vh !important;
  }

  .header-mask {
    z-index: 2;
    background-size: cover;

    @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
      height: 100% !important;
    }

    .header-title-container {
      padding-top: 15%;
      width: 75%;
      margin: 0 auto;
      height: 60%;
      display: flex;
      align-items: center;
      justify-content: space-around;
      flex-direction: row;

      @media (max-width: 1024px) {
        padding-top: 0px;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
      }

      // @media (max-width: 992px) {
      //   width: 960px;
      // }

      // @media (max-width: 768px) {
      //   width: 720px;
      // }

      // @media (max-width: 576px) {
      //   width: 540px;
      // }

      //.mobilny-naglowek {
      //  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
      //    transform: translateX(-200px);
      //  }
      //}

      .title-container {
        // display: flex;
        // text-align: center;
        z-index: 999;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
        color: #fff;

        &:nth-child(2) {
          z-index: 1;
          display: flex;
          justify-content: center;
          align-items: center;
          transform: translateY(30rem);
          background-color: #fff;
          border-radius: 50%;
          height: 550px;
          width: 1050px;

          @media (max-width: 1440px) {
            //display: none;
          }

          @media (max-width: 767px) {
            border-radius: 0%;
            width: 100vw;
            display: none;
          }

          //@media (min-resolution: 1.5dppx) and (min-width: 1000px) {
          //  transform: translateY(26.5rem);
          //}

          @media (max-width: 1024px) {
            display: flex;
            justify-content: center;
            transform: translateY(-20%);
            align-items: center;
            display: none;
          }
        }

        //@media (max-width: 768px) {
        //  margin-top: 13rem;
        //}
        //
        //@media (max-width: 480px) {
        //  margin-top: 14rem;
        //  text-align: center;
        //}

        .title-content {
          width: 90%;
          margin-bottom: 20px;
        }

        @media (max-width: 1024px) {
          .title-content {
            margin-bottom: 20px;
            padding-left: 0px;
            width: 100%;
          }
        }

        .black-product {
          color: black !important;
          font-weight: 300 !important;
        }
      }

      .ramka-1 {
        margin-top: 9rem;
        max-height: 100%;
        max-width: 100%;
        // background-image: url("../img/ramka_banner.png");
        background-repeat: no-repeat;
        top: 0;
        right: 0;
        transform: translateY(150px);
      }

      @media (max-width: 1024px) {
        .ramka-1 {
          top: 35%;
          width: 500px;
          height: 800px;
          position: absolute;
          background-image: none;
          transform: translateY(0px);
        }

        @media (max-width: 640px) {
          .ramka-1 {
            width: 100%;
          }
        }

        // @media (max-width: 380px) {
        //   .ramka-1 {

        //   }
        // }
      }

      .ramka-2 {
        display: flex;
        justify-content: center;
        align-items: flex-start;
        max-height: 100%;
        max-width: 100%;
        // background-image: url("../img/produkt_banner.png");
        background-repeat: no-repeat;
        transform: translateY(15px) translateX(15px);
        // animation: Rotate 10s infinite;

        @media (max-width: 1024px) {
          top: 0px;
          width: 550px;
          height: 800px;
          position: absolute;
          background-image: none;
          top: 0px;

          .polaris-image,
          .solaris-image {
            display: none;
          }
        }

        @media (max-width: 640px) {
          width: 90%;
        }

        // @media (max-width: 380px) {

        // }
      }
    }

    .header-upper-title-bold {
      font-size: 1.35rem;
      font-weight: 400;
    }

    .header-upper-title-bold-black {
      color: black;
      font-size: 1.35rem;
      font-weight: 400;
    }

    .header-title {
      font-weight: 400;
      text-transform: uppercase;
    }
    .header-upper-title-bold {
      font-weight: 500;
      color: white;
      text-transform: uppercase;
    }

    .header-produkty {
      font-weight: 300;
      font-size: 1.5rem;
      color: black;
    }

    .header-title-bold {
      font-weight: 300;
      font-size: 3.5rem;
      color: white;

      @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px) {
        max-width: 70% !important;
      }

      @media (min-width: 1024px) {
        max-width: 71%;
      }

      @media (max-width: 1024px) {
        font-size: 2.5rem;
      }

      @media (max-width: 568px) {
        font-size: 1.4rem;
      }

      @media (-webkit-min-device-pixel-ratio: 1.25) and (max-width: 340px) {
        font-size: 32px;
      }
    }

    .header-title-bold-black {
      font-weight: 300;
      font-size: 3.5rem;
      margin-bottom: 20px;
      color: black;
    }

    .header-button {
      text-decoration: none;
      background-color: #009fe3;
      color: #fff;
      font-weight: 700;
      outline: 0;
      border: 0;
      padding: 14px 15px 17px 15px;
      margin-top: 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }

    .header-button:hover {
      background-color: #0069d9;
      border-color: #0062cc;
    }

    @media (max-width: 1024px) {
      .header-button {
        margin-left: 0px;
      }
    }

    .karuzela {
      z-index: 9999;
      width: 55%;
      margin-top: 60px;

      @media (max-width: 1024px) {
        //display:none;
      }
      .carousel {
        width: 100%;
        margin: 0 auto;
        text-align: center;

        @media (max-width: 1024px) {
          width: 100%;
        }
        .carousel-cell {
          .product-button {
            background-color: #009fe3;
            text-decoration: none;
            color: #fff;
            font-weight: 700;
            outline: 0;
            border: 0;
            margin-top: 10px;
            padding: 10px 15px 10px 15px;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            cursor: pointer;
          }

          .product-button:hover {
            background-color: #0069d9;
            border-color: #0062cc;
          }

          // .img-carosell {
          //   padding-top: 85px;
          // }

          .img-carosell {
            z-index: 99;
          }

          @media (max-width: 1024px) {
            .img-carosell {
              padding-top: 35px;

              z-index: 99;
            }
          }
        }
      }
    }
  }
}

.header-image {
  height: 100%;
  max-width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover;

  @media (max-width: 768px) {
    background-size: cover;
  }

  .header-container-expand {
    padding-bottom: 3rem;
  }

  .header-container-scroll {
    background-color: #fff;
    box-shadow: 0px 7px 27px -12px #000000;
  }

  .header-container {
    top: 0;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999;

    @media (max-width: 1024px) {
      background-color: #fff;
      height: 60px;
    }

    .header-logo {
      position: absolute;
      top: 35px;
      max-width: 10rem;
      margin-left: 2rem;

      @media (max-width: 1024px) {
        top: 15px;
      }
    }
  }

  .header-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .header-nav {
      display: grid;
      grid-template-columns: repeat(12, auto);
      grid-template-rows: repeat(2, auto);
      width: 100%;
      height: 100%;
      margin-right: 110px;
    }

    @media (max-width: 1024px) {
      .header-nav {
        display: none;
      }
    }

    .search-container {
      display: flex;
      flex-direction: row;
      .search-input {
        display: none;
        animation: 1s ease-in-out FadeIn;
      }

      .search-button {
        background-color: #97c11f;
        position: absolute;
        top: 100px;
        right: 40px;
        color: #fff;
        font-weight: 700;
        padding: 6px;
        outline: 0;
        border: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 12px;

        @media (max-width: 1024px) {
          top: 0px;
          right: 120px;
        }

        @media (max-width: 512px) {
          top: 0px;
          right: 100px;
        }
      }

      .search-input-text {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border: 2px solid #97c11f;
        position: absolute;
        top: 110px;
        right: 100px;
        outline: 0;
        animation: 1s ease-in-out FadeIn;

        @media (max-width: 1024px) {
          top: 12px;
          right: 190px;
          width: 30%;
          font-size: 0.85rem;
        }

        @media (max-width: 512px) {
          top: 12px;
          right: 160px;
          width: 20%;
          font-size: 0.85rem;
        }
      }
    }

    .upper-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      grid-row: 1 / 2;
      grid-column: 9 / 11;

      .doctor-container {
        border-right: 1px solid #97c11f;
        padding: 3% 0;
        padding-right: 1.5rem;
      }

      .pharm-container {
        border-right: 1px solid #97c11f;
        padding: 3% 1.5rem;
      }

      .doctor-container,
      .pharm-container {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .upper-link:hover {
          text-decoration: none;
        }

        .upper-text-scroll {
          color: #042346 !important;
        }

        .upper-text {
          color: #fff;
          margin: 0;
          font-size: 1rem;
        }

        .upper-icon {
          height: 2rem;
          margin-right: 0.5rem;
        }
      }
    }

    .language-nav {
      grid-row: 1 / 2;
      grid-column: 11 / 12;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 100%;
      max-width: 100%;

      .language-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        height: 100%;
        width: 100%;

        .language-item {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin-right: 1rem;
          height: 100%;
          transition: 1s ease-in-out all;

          .language-link:hover {
            text-decoration: none;
            font-weight: 700;
            transition: 0.25s ease-in all;
          }

          .language-text-scroll {
            color: #042346 !important;
          }

          .language-text {
            color: #fff;
            margin: 0;
            font-size: 0.9rem;
          }
        }
      }
    }

    .active {
      display: flex !important;
    }

    .bottom-nav {
      grid-row: 2 / -1;
      grid-column: 1 / 12;
      border-top: 1px solid #97c11f;

      .bottom-menu {
        display: flex;
        flex-direction: row;
        list-style-type: none;

        .bottom-item {
          padding: 0.5rem 0.7rem;
          box-sizing: border-box;
          z-index: 9999;

          .current-page {
            color: red !important;
          }

          .patient-container .active {
            display: none;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #fff;
          }

          .patient-container {
            display: none;
            position: absolute;

            .patient-list {
              list-style-type: none;
              padding: 0;

              .patient-item {
                .patient-link-scroll {
                  color: #042346 !important;
                }

                .patient-link {
                  color: #fff;
                }

                .patient-link:hover {
                  text-decoration: none;
                }
              }
            }
          }

          .bottom-link-scroll {
            color: #042346 !important;

            &:hover {
              color: #97c11f !important;
            }
          }

          .bottom-link {
            color: #fff;
            white-space: nowrap;
            font-weight: 500;
            font-size: 1.2rem;
            transition: 0.4s ease-in-out all;

            &:hover {
              transition: 0.4s ease-in-out all;
              text-decoration: none;
              color: #97c11f;
            }
          }
        }
      }
    }
  }
}

.mobile-container {
  display: none;
}

@media (max-width: 1024px) {
  .mobile-container {
    -webkit-box-shadow: -7px 4px 30px 3px rgba(0, 0, 0, 0.35);
    box-shadow: -7px 4px 30px 3px rgba(0, 0, 0, 0.35);
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 9999;
  }

  .mobile-icon {
    margin: 0 auto 0 auto;
    position: absolute;
    top: 1.45rem;
    right: 1.5rem;
    background-color: #97c11f;
    height: 0.25rem;
    width: 1.25rem;
    cursor: pointer;
  }

  .mobile-icon::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    background-color: #97c11f;
    height: 0.25rem;
    width: 1.5rem;
  }

  .mobile-icon::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    background-color: #97c11f;
    height: 0.25rem;
    width: 1.5rem;
  }

  .header-container {
    width: 100% !important;
  }

  .active {
    display: flex !important;
    transition: all 1s ease-in-out;
  }

  .mobile-link {
    color: #042346;
    font-weight: 700;
    white-space: nowrap;
  }

  .redirect-links {
    margin-top: 25%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @media (min-resolution: 2dppx) and (min-width: 568px) {
      margin-top: 3%;
    }
  }

  .redirect-links li a {
    font-size: 0.85rem;

    @media (min-resolution: 2dppx) and (min-width: 568px) {
      font-size: 0.7rem;
    }
  }

  .upper-icon-mobile {
    width: 20%;
    margin-right: 2%;
  }

  .flags-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%;

    .flag {
      width: 2rem;
      margin: 5%;
    }
  }

  .header-logo {
    max-width: 6rem !important;
  }

  .mobile-block {
    background-color: rgba(255, 255, 255, 0.97);
    display: none;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 60vw;

    .mobile-nav {
      height: 100%;
      margin-top: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline-start: 0px;

      @media (min-resolution: 2dppx) and (min-width: 568px) {
        margin-top: 0;
        font-size: 0.75rem;
      }

      .mobile-item {
        list-style-type: none;
        padding: 2%;

        @media (min-resolution: 2dppx) and (min-width: 568px) {
          padding: 1%;
        }

        .patient-container-mobile {
          display: none;

          .patient-list-mobile {
            list-style-type: none;
            padding: 0;

            .patient-item-mobile {
              .patient-link-mobile {
                color: #042346 !important;
              }
              .patient-link-mobile:hover {
                text-decoration: none;
              }
            }
          }
        }

        .mobile-link {
          color: #042346;
          font-weight: 700;
          white-space: nowrap;

          &:hover {
            text-decoration: none;
          }

          &:visited {
            color: #042346;
          }
        }
      }
    }
  }
}

@media (max-width: 1600px) {
  .header {
    height: 700px !important;
  }
  .header-mask {
    height: 700px !important;
  }
}

@media (max-width: 1200px) {
  .header {
    height: 450px !important;
  }
  .header-mask {
    height: 450px !important;
  }
}

@media (max-width: 767px) {
  .header {
    height: 340px !important;
  }
  .header-mask {
    height: 340px !important;
  }
}

.header-mask-o-nas {
  @media (max-width: 767px) {
    height: 300px !important;
  }
}

.header-main-o-nas {
  @media (max-width: 767px) {
    height: 300px !important;
  }
}

.header-glowna {
  background-size: cover !important;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: right -20px;
  }

  @media (max-width: 767px) {
    background-position: 96% 200% !important;
    background-size: 140% !important;
  }
  @media (max-width: 475px) {
    background-position: 96% 50px !important;
    background-size: 210% !important;
  }
  // @media(min-width: 600px){
  //   background-size: 120% !important;
  // }
}

.header-o-nas {
  background-size: cover !important;
  background-position: 0px 90px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: right 40px;
  }

  @media (max-width: 768px) {
    background-position: right 50px !important;
    background-size: 160% !important;
  }

  @media (max-width: 440px) {
    background-position: -366px 60px !important;
    background-size: 215% !important;
  }

  @media (max-width: 340px) {
    background-position: -329px 59px !important;
    background-size: 234% !important;
  }
}

.header-wspolpraca {
  background-size: cover !important;
  background-position: 0px 110px;

  @media (max-width: 768px) {
    background-position: 60% 100px !important;
    background-size: 370%;
  }
}

.header-aktualnosci {
  background-size: cover !important;
  background-position: 80% 40px;

  @media (max-width: 768px) {
    background-position: 75% 50px !important;
    background-size: 400%;
  }
}

.header-preparaty {
  background-size: 100% !important;
  background-position: right -29px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: right -20px;
  }

  @media (max-width: 767px) {
    background-position: 96% bottom !important;
    background-size: 140% !important;
  }
  @media (max-width: 475px) {
    background-position: 96% 50px !important;
    background-size: 210% !important;
  }
}

.header-kategorie-produktow {
  background-size: cover !important;
  background-position: -20px -10px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -30px 0;
  }

  @media (max-width: 768px) {
    background-position: 77% 0px !important;
    background-size: 460% !important;
  }
}

.header-strefa-pacjenta {
  background-size: cover !important;
  background-position: 0px -55px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: 0px -65px;
  }

  @media (max-width: 768px) {
    background-position: 79% 0px !important;
    background-size: 440%;
  }
}

.header-kariera {
  background-position: 0px 100px;
  background-size: cover !important;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -20px 100px;
  }

  @media (max-width: 768px) {
    background-size: 400%;
    background-position: 88% 50px !important;
  }
}

.header-kontakt {
  background-position: -115px 80px;
  background-size: cover !important;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -270px 65px;
  }

  @media (max-width: 768px) {
    background-position: 95% 50px !important;
    background-size: 440%;
  }
}

/* Strefa pacjenta newsy */
.dla-niemowlat {
  background-position: 25px 30px !important;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -260px 30px !important;
  }

  @media (max-width: 568px) {
    background-position: -660px 50px !important;
  }

  @media (max-width: 420px) {
    background-position: -630px 50px !important;
  }
}

.dla-calej-rodziny {
  background-position: 0px 110px !important;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -260px 110px !important;
  }

  @media (max-width: 568px) {
    background-position: -590px 55px !important;
  }

  @media (max-width: 420px) {
    background-position: -560px 55px !important;
  }
}

.okres-jesienno-zimowy {
  background-position: -115px 90px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -250px 90px;
  }

  @media (max-width: 568px) {
    background-position: -670px 60px !important;
  }

  @media (max-width: 420px) {
    background-position: -640px 60px !important;
  }
}

.kamica-nerkowa {
  background-position: -120px 90px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -260px 90px;
  }

  @media (max-width: 568px) {
    background-position: -670px 50px !important;
  }

  @media (max-width: 420px) {
    background-position: -630px 50px !important;
  }
}

.chrapanie {
  background-position: -110px 100px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -270px 100px;
  }

  @media (max-width: 568px) {
    background-position: -640px 50px !important;
  }

  @media (max-width: 420px) {
    background-position: -610px 50px !important;
  }

  .header-mask
    .header-title-container
    .title-container
    .title-content
    .header-title-bold {
    width: 60%;

    @media (max-width: 1024px) {
      width: 100%;
    }
  }
}

.refluks {
  background-position: -110px 0px;

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    background-position: -265px 0px;
  }

  @media (max-width: 568px) {
    background-position: -610px 20px !important;
  }

  @media (max-width: 420px) {
    background-position: -580px 20px !important;
  }
}

.ozdobnik-separator {
  @media (max-width: 768px) {
    display: none;
  }
}

@keyframes Rotate {
  0% {
    transform: rotate(0deg);
  }

  33% {
    transform: rotate(10deg);
  }

  66% {
    transform: rotate(-10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

@keyframes FadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes FadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

.active-language {
  border-top: 2px solid #fff;
  margin-top: -2px;
  font-weight: 700;
}

.active-language-blue {
  border-top: 2px solid #042346 !important;
  margin-top: -2px;
  font-weight: 700;
}

.active-link {
  border-top: 2px solid #fff;
  margin-top: -2px;
}

.active-link-blue {
  border-top: 2px solid #042346 !important;
  margin-top: -2px;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 7rem;
  right: 20%;
  height: 550px;
  transform: translate(-120px, 140px);
  z-index: 2;

  @media (max-width: 1366px) and (min-resolution: 2dppx) {
    transform: translate(100px, 315px);
  }

  @media (max-width: 1024px) and (min-resolution: 2dppx) {
    transform: translate(185px, 215px) !important;
  }

  @media (max-width: 1024px) {
    transform: translate(185px, 25px);
  }

  // @media (max-width: 768px) {
  //   transform: translate(0px, 0px);
  // }

  @media (max-width: 1024px) and (max-height: 768px) and (min-resolution: 1.75dppx) {
    transform: translate(185px, -250px) !important;
  }

  .product-image {
    max-width: 500px;
    height: auto;

    @media (max-width: 480px) {
      width: 100%;
      //height: auto;
    }
  }

  @media (max-width: 768px) {
    position: static;
    top: 32rem !important;
    right: 10% !important;
  }

  @media (max-width: 360px) {
    position: static;
    top: 26rem !important;
    right: 3% !important;
  }

  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    top: 10rem;
  }

  .nowosc {
    width: 14rem;
    top: 2rem;
  }

  @media (max-width: 768px) {
    .image-container {
      top: 32rem !important;
      right: 10% !important;
    }

    .product-image {
      width: 300px;
      // transform: translate(0px, 0px);
    }

    .nowosc {
      top: 0rem;
    }
  }

  @media (max-width: 1024px) {
    .nowosc {
      width: 10rem;
    }
  }
}

.image-container {
  @media (max-width: 768px) and (max-height: 1024px) and (min-resolution: 1.75dppx) {
    transform: translate(185px, -220px) !important;
  }
}
