body {
  .container {
    .wspolpraca-main {
      height: 1200px !important;

      p {
        margin: 0 auto;
        font-size: 22px;
        max-width: 90%;
      }

      @media (max-width: 1024px) {
        height: 2350px !important;
      }
    }

    .kariera-main {
      height: 1200px !important;

      @media (max-width: 1024px) {
        height: 2950px !important;
      }
    }
    .main {
      .row {
        .benefits {
          font-weight: 700;
          font-size: 18px;
          width: 80%;
        }

        .left {
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        .col {
          .pic {
            width: 60px;
          }

          .wp-content {
            color: darkgray !important;
            font-size: 22px;
            max-width: 90%;
            margin-bottom: 40px;
          }

          flex-basis: auto;
          .kariera {
            height: 100%;
            margin-top: 15%;
            background-color: #ececf6;
            padding: 10% 10% 0% 10%;
            border-radius: 35px;
            .ozdobnik-main {
              border-radius: 25px;
              position: absolute;
              max-width: 101%;
              z-index: 2;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              top: -5%;
              right: 0;
              text-align: center;
            }
            .title {
              font-size: 12px;
            }

            h4 {
              margin-top: -1%;
            }

            img {
              margin-top: -30%;
              border-radius: 50%;

              box-shadow: 0px 22px 127px -8px rgba(0, 159, 227, 1);
            }
            h4 {
              font-weight: 700;
              font-size: 30px;
              padding-bottom: 30px;
            }
            form {
              label {
                font-size: 18px;
              }
              input {
                border: none;
                padding: 25px 15px 25px 15px;
                background-color: #ffffff;
                border-bottom-left-radius: 15px;
                border-top-right-radius: 15px;
                border-bottom-right-radius: 15px;
              }
              select {
                border: none;
                padding: 25px 15px 25px 15px;
                background-color: #ffffff;
                border-bottom-left-radius: 15px;
              }
              option {
                border: none;
                padding: 25px 15px 25px 15px;
                background-color: #ffffff;
                border-bottom-left-radius: 15px;
              }
              textarea {
                border: none;
                padding: 25px 15px 25px 15px;
                background-color: #ffffff;
                border-bottom-left-radius: 15px;
              }
            }
            .uploader {
              text-align: center;
              border: 3px solid #97bf20;
              width: 100%;
              height: 100px;
              border-bottom-left-radius: 15px;
              border-bottom-right-radius: 15px;
              border-top-right-radius: 15px;

              h5 {
                color: #97bf20;
                font-weight: 300;
                padding: 6px 0 6px 0;
              }
            }
            .btn-success {
              padding: 15px 15px 15px 15px;
              font-weight: 700;
            }
          }
        }

        @media (min-width: 720px) {
          .col {
            flex-basis: 0;
            .kariera {
              //position: absolute;
              transform: translateY(-230px);
              height: 95%;
            }
          }
        }
      }
    }
  }
}

/* The container */
.check {
  display: block;
  //position: relative;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff;
}

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #2196f3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

input[type="file"] {
  display: none;
}

.file-input {
  text-align: center;
  border: 3px solid #97bf20;
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer;
}

.btn-text {
  font-size: 16px !important;
}

.wpcf7-list-item-label {
  font-size: 12px !important;
}
