main {
  background: linear-gradient(
    0deg,
    rgba(237, 235, 246, 1) 0%,
    rgba(255, 255, 255, 1) 40%
  ) !important; 
}



@media (min-width: 1200px) {
  .container {
    width: 1170px !important;
  }
}
.news-list{

  margin-top:25px;
  margin-bottom: 25px;
  text-align: center;
  align-content: center;


  .col-lg-4{

    margin: 0;
    padding-top:25px;
    padding-bottom: 25px;
    font-size: 20px;


    .card{
      width: 100%;
      background-color: transparent;
      margin-top: auto;
      margin-bottom: auto;
      border: none;
      .card-img-top{
        border-radius: 5%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
      .data{
        display: table;
        background-color: #e8e8e8;
        font-weight: 600;
        margin: 0 auto;
        left: 38%;
        width:90px;
        height: 25px;
        background-color: white; position: absolute; padding-top:3px; bottom: -10%; font-size:14px;
        border: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
      .card-body{

        p{
          font-size:16px;
        }
        h5{
          font-weight: 700;
        }
      }

    }
  }

  .col-lg-4:hover{
    margin: 0;
    border-radius: 15px;
    transform: scale(1.01);
    -webkit-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 22px -8px rgba(0,0,0,0.75);
    padding-top:25px;
    padding-bottom: 25px;

  }
}