//SYMBOLE

.symbols-row {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  align-items: center;
  align-content: center;
  .col-lg-4 {
    padding: 25px;
  }
  .col-lg-4:hover {
    transition: 0.5s;
    //padding: 15px 15px 15px 15px;
    border: none;
    border-radius: 15px;
    transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    z-index: 10;
    .arrow {
      visibility: visible;
    }
    .quantity {
      visibility: visible;
      img {
        padding-bottom: 5px;
        width: 8%;
      }
    }
  }

  .arrow {
    visibility: hidden;
    width: 40px;
    height: 40px;
  }
  .quantity {
    visibility: hidden;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #e1e1e1;
    img {
      padding-bottom: 5px;
      width: 8%;
    }
  }
  .title {
    font-size: 21px;
    font-weight: 600;
  }
  .border-spec {
    background-color: #fff;
    cursor: pointer;
  }

  .hover-77 {
    order: 1;
  }

  .hover-80 {
    order: 2;
  }

  .hover-65 {
    order: 3;
  }

  .hover-68 {
    order: 4;
  }

  .hover-71 {
    order: 5;
  }

  .hover-74 {
    order: 6;
  }

  // ENG

  .hover-523 {
    order: 1;
  }

  .hover-535 {
    order: 2;
  }

  .hover-525 {
    order: 3;
  }

  .hover-511 {
    order: 4;
  }

  .hover-528 {
    order: 5;
  }

  .hover-534 {
    order: 6;
  }

  .border-spec-eng {
    background-color: #fff;

    &:first-child {
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }

    &:nth-child(5) {
      border-left: 1px solid #ddd;
    }

    &:nth-child(7) {
      border-top: 1px solid #ddd;
    }

    &:nth-child(3) {
      border-right: 1px solid #ddd;
    }

    &:nth-child(11) {
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd;
    }

    &:nth-child(4) {
      border-left: none;
    }

    @media (max-width: 1024px) {
      border: 0px !important;
    }
  }

  .border-spec {
    &:first-child {
      border-right: 1px solid #ddd;
    }

    &:nth-child(7) {
      border-top: 1px solid #ddd;
    }

    &:nth-child(9) {
      border-top: 1px solid #ddd;
      border-left: 1px solid #ddd;
    }

    &:nth-child(3) {
      border-left: 1px solid #ddd;
    }

    &:nth-child(5) {
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd;
    }

    &:nth-child(11) {
      border-right: none;
    }

    &:nth-child(4) {
      border-left: none;
    }

    @media (max-width: 1024px) {
      border: 0px !important;
    }
  }
}
