main {
  .nowosc {
    width: 60%;
    right: 90px;
    transform: translate(14%, -15px);
    position: absolute;
  }
  .container {
    .row {
      .col {
        .rounded-img {
          border-radius: 30px;
        }
      }
    }

    .next-section {
      margin-top: 5%;
      font-size: 26px;
      line-height: 1.2;
      //padding: 20px 15px 35px 15px;
      .col {
        text-align: center;
        justify-content: flex-start;
        display: flex;
        position: relative;
        align-items: flex-start;
        align-content: center;
        margin: 0 auto;
        height: 400px;

        @media (max-width: 768px) {
          height: 600px;
          flex-direction: column;
        }

        p {
          width: 50%;

          @media (max-width: 768px) {
            width: 100%;
          }
        }

        @media (max-width: 1024px) {
          flex-direction: column-reverse !important;
        }

        figure img {
          position: absolute;
          top: -60%;

          @media (max-width: 1024px) {
            width: 50%;
            top: 0;
            left: 50%;
          }

          @media (max-width: 768px) {
            width: 75%;
            height: auto;
            top: 0;
            left: 100px;
          }

          p {
            width: 50%;

            @media (max-width: 768px) {
              width: 100%;
            }
          }

          @media (max-width: 1024px) {
            flex-direction: column-reverse !important;
          }

          figure img {
            position: absolute;
            top: -70%;

            @media (max-width: 1024px) {
              top: 0;
              width: 50%;
              left: 50%;
            }

            @media (max-width: 768px) {
              width: 100%;
              top: -50%;
              left: 0%;
            }

            @media (max-width: 480px) {
              width: 100%;
              top: -30%;
              left: 0%;
            }
            top: -50%;
            left: 0%;
          }

          @media (max-width: 480px) {
            top: 0;
            left: 0%;
            width: 100%;
            height: auto;
          }
        }
      }
      .subtext {
        font-size: 18px;
        line-height: 1.3;
        padding-bottom: 10px;
      }
    }
  }

  .products-header {
    margin-bottom: 2rem;
  }

  .product-text-body {
    color: #444;
  }

  .flicks {
    background-color: #edebf6;
    .products-carousel {
      background: #edebf6;

      .carousel-cell {
        height: 610px;
        background-color: transparent;
        .card-img-top {
          height: 300px !important;
          //width: 250px;
          object-fit: contain;
        }
        .nowosc {
          width: 50%;
          transform: translateY(-15px);
          position: absolute;
        }

        .card {
          border: none;
          border-radius: 25px;
          text-align: center;
          background-color: transparent;
          .card-title {
            font-size: 24px;
            font-weight: bold;
          }
          .button-info {
            transform: translateY(40px);
            .btn {
              width: 100%;
            }
          }

          &:hover {
            background-color: white;
          }
        }
      }
    }

    .ozdobniki {
      position: relative;
      text-align: center;
      //margin-top: 4%;
      .ozdobnik {
        text-align: center;
        position: relative;
        width: 100%;
        z-index: 2;
        &-inside {
          position: absolute;
          width: 10%;
          left: 0;
          top: -50%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto;
          z-index: 3;
        }
        @media (min-width: 720px) {
          &-inside {
            width: 2%;
            left: 0;
            top: -50%;
            right: 0;
            bottom: 0;
            display: block;
            margin: auto;
          }
        }

        &-bottom {
          position: absolute;
          width: 50px;
          height: 50px;
          left: 0;
          top: 40%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto;
          z-index: 3;

          img {
            width: 90%;
            margin-top: 20%;
          }
        }
        @media (min-width: 720px) {
          &-bottom {
            width: 40px;
            height: 40px;
            left: 0;
            top: 25%;
            right: 0;
            bottom: 0;
            display: block;
            margin: auto;
            img {
              width: 160%;
              padding-right: 10px;
              margin-top: 20%;
            }
          }
        }
      }
      @media (max-width: 720px) {
        .text-down {
          left: 42% !important;
        }
      }
      .button-up {
        display: none;
      }
      .button-down {
        display: none;
      }
      @media (min-width: 720px) {
        .button-down {
          left: 0;
          font-size: 15px;
          line-height: 0.9;
          font-weight: 700;
          top: 30%;
          width: 100%;
          display: block;
        }
        .button-up {
          top: 52%;
          left: 0;
          width: 100%;
          font-size: 15px;
          line-height: 0.9;
          font-weight: 700;
          display: block;
        }
      }
      .ozdobnik2 {
        margin-top: 15px;
        text-align: center;
        position: relative;
        width: 100%;
        text-align: center;
        vertical-align: bottom;
      }
      @media (min-width: 720px) {
        .ozdobnik {
          flex-basis: 0;
          width: auto;
        }

        .ozdobnik2 {
          flex-basis: 0;
          width: auto;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  main .container .next-section .col figure img {
    transform: translateY(0px);
  }

  main .container-fluid {
    margin-top: 50px !important;
  }

  figure img {
    width: 100%;
    height: auto;
  }
}
