body {
  .flickity-page-dots {
    bottom: -25px !important;
  }
  .tag {
    left: 50% !important;
    font-weight: 600;
    //font-size:21px !important;
    width: 70%;
  }
  @media (min-width: 720px) {
    .tag {
      font-weight: 600;
      //font-size:26px !important;
      width: 55%;
    }
  }

  .container {
    .main {
      padding-bottom: 2%;
      .single-container {
        display: flex;
        flex-direction: row;

        @media (max-width: 1024px) {
          flex-direction: column;
        }
        .col-8 {
          .wp-block-image {
            img {
              width: 100%;
              height: auto;
              max-width: 470px;

            }

          }
          li {
            margin: 0;
            padding: 15px 0 15px 40px;

            list-style: none;
            background-image: url("../img/lista-znacznik@2.png");
            background-repeat: no-repeat;
            background-position: left center;
            background-size: 30px;
          }
          color: #444 !important;
          width: 90%;

          @media (max-width: 768px) {
            max-width: none;
          }

          & > * {
            color: #444 !important;
            font-size: 1.25rem;
          }

          & > * > * {
            color: #444 !important;
          }
          a {
            color: white !important;
          }
          .product-image {
            width: 50%;
            border-radius: 5%;
            text-align: center;
            margin: 0 auto;
            align-items: center;
          }
        }
        .col-2,
        .col-3,
        .col-4 {
          flex: auto;
          max-width: 33.33333%;

          @media (max-width: 1024px) {
            max-width: 95%;
          }

          .box {
            display: flex;
            flex-direction: column;
            text-align: center;
            width: 100%;
            background-color: #e8e8e8;
            height: 200px;
            border-radius: 25px;

            .box-logos > * {
              margin-left: 1rem !important;
              margin-right: 1rem !important;

              @media (max-width: 480px) {
                margin-left: 0.25rem !important;
                margin-right: 0.25rem !important;
                margin-top: 0.25rem !important;
              }
            }

            img {
              //width:50%;
              max-width: 60px;
            }
            p {
              align-self: center;
              padding-top: 25px;
              font-weight: 700;
              font-size: 20px;
            }

            .image-box {
              display: flex;
              flex-direction: row;
              justify-content: center;
              align-items: center;
            }
          }

          .recommended {
            .title {
              font-size: 24px;
              font-weight: 500;
            }
          }

          .carousel {
            .flickity-prev-next-button.previous {
              left: 10px;
            }
            .flickity-prev-next-button.next {
              right: 10px;
            }
            .col {
              margin-left: 2%;
              margin-top: 13%;
              padding-left: 0;
              padding-right: 0;
              margin-bottom: 11%;
              @media (min-width: 720px) {
                .col {
                  margin-top: auto;
                  margin-bottom: auto;
                }
              }
              .card {
                height: 480px;
                width: 290px;
                border-radius: 25px !important;
                z-index: 1;
                text-align: center;
                align-items: center;
                position: relative;
                .button-info {
                  display: none;
                  font-weight: 700;
                }

                .rounded {
                  border-radius: 50% !important;
                  z-index: 3;
                  position: absolute;
                  align-content: center;
                  right: 24%;
                  margin-top: -25%;
                  height: 200px;
                  width: 200px;
                  object-fit: cover;
                }

                .ozdobnik-main {
                  border-radius: 25px;
                  position: absolute;
                  max-width: 101%;
                  z-index: 2;
                  margin-left: auto;
                  margin-right: auto;
                  left: 0;
                  right: 0;
                  text-align: center;
                }

                .ozdobnik {
                  width: 100%;
                  // z-index: -1;
                  position: absolute;
                }
                .card-body {
                  margin-top: 32%;
                  .card-text {
                    font-size: 13px;
                  }
                  .col-lg-4 {
                    width: 33%;
                    max-width: 150px;
                  }
                }
              }
            }
            .card:hover {
              transform: scale(1.05) !important;
              -webkit-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
              -moz-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
              box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
              transition: 0.5s;
              @media (max-width: 720px) {
                .col:first-child {
                  transform: scale(1) !important;
                }
              }

              .button-info {
                display: inline-block;
                transform: translateY(40px);
                width: 75%;
              }
            }
          }

          .products-carousell {
            .karuzela {
              .flickity-prev-next-button.previous {
                left: 10px;
              }
              .flickity-prev-next-button.next {
                right: 10px;
              }
              @media (max-width: 1024px) {
                width: 100%;
              }
              .carousel {
                width: 100%;
                margin: 0 auto;
                text-align: center;
                p {
                  color: #444 !important;
                  font-weight: 400;
                }
                .flickity-viewport {
                  //background-color: #edebf6;
                  border-radius: 15px;
                }
                @media (max-width: 1024px) {
                  width: 100%;
                }
                .carousel-cell {
                  .product-button {
                    background-color: #009fe3;
                    color: #fff;
                    font-weight: 700;
                    outline: 0;
                    border: 0;
                    margin-top: 10px;
                    padding: 10px 15px 10px 15px;
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    cursor: pointer;
                  }

                  @media (max-width: 1024px) {
                    .img-carosell {
                      padding-top: 35px;
                    }
                  }
                }
              }
            }
          }
        }
        .col-8 {
          flex: auto;
        }
        // @media (min-width: 720px) {
        //   .col-8 {
        //     flex: 0 0 66.66667%;
        //     max-width: 66.66667%;
        //   }
        //   .col-2,
        //   .col-3,
        //   .col-4 {
        //     flex: 0 0 33.33334%;
        //     max-width: 23.33334%;
        //   }
        // }
      }
    }
  }
}

.grid-patient {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);

  .grid-cell-patient-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 6;
  }

  .grid-cell-patient-2 {
    grid-column: 5 / 9;
    grid-row: 1 / -1;
  }

  .grid-cell-patient-3 {
    grid-column: 9 / -1;
    grid-row: 1 / 6;
  }

  // @media (max-width: 1024px) {
  //   .grid-cell-patient-1 {
  //     grid-column: 9 / -1;
  //     grid-row: 1 / 6;
  //   }

  //   .grid-cell-patient-2 {
  //     grid-column: 1 / 9;
  //     grid-row: 1 / -1;
  //   }

  //   .grid-cell-patient-3 {
  //     grid-column: 9 / -1;
  //     grid-row: 6 / -1;
  //   }
  // }

  @media (max-width: 1024px) {
    .grid-cell-patient-1 {
      grid-column: 1 / -1;
      grid-row: 5 / 9;
    }

    .grid-cell-patient-2 {
      grid-column: 1 / -1;
      grid-row: 1 / 5;
    }

    .grid-cell-patient-3 {
      grid-column: 1 / -1;
      grid-row: 9 / -1;
    }
  }
}

.zdjatko-container {
  display: flex;
  justify-content: center;
}

.zdjatko {
  width: 50%;
  height: auto;
}
