body {
  main {
    .container-fluid {
      .products-carousel {
        background: #edebf6;

        .carousel-cell {
          height: 600px;
        }

        .card {
          border-radius: 25px;
          text-align: center;

          .button-info {
            transform: translateY(30px);
          }
        }
      }
      .container {
        .row {
          .col-lg-8 {
          }

          .product-carousel {
            .card {
            }
          }

          .col-lg-4 {
            .filter-color {
              filter: saturate(100%) brightness(0) invert(83%) sepia(0%)
                saturate(6339%) hue-rotate(224deg) brightness(99%) contrast(81%);
            }

            .button-info {
              transform: translateY(20px);
            }
            .card-round {
              border-radius: 25px;

              .ozdobnik-main {
                border-radius: 25px;
              }

              .round-image {
                border-radius: 50% !important;
                height: 200px;
                width: 200px;
                object-fit: cover;
                margin: 0 auto;
                transform: translateY(-50px);
                display: block;
              }
            }
          }
        }
      }
    }
  }
}
