main {
  .container {
    .opis,
    .row {
      li {
        margin: 0;
        font-size: 20px;
        padding: 15px 0 15px 40px;
        color: #666 !important;
        list-style: none;
        background-image: url("../img/lista-znacznik@2.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px;
      }

      .col {
        flex-basis: auto;

        h2 {
          font-weight: 300;
          width: 70% !important;
        }

        h2 strong {
          font-weight: 700;
        }

        .content {
          font-size: 1rem;
        }

        // @media (max-width: 1024px) {
        //   margin-top: 15rem;
        // }
      }
      @media (min-width: 720px) {
        .col {
          flex-basis: 0;
        }
      }
      margin-bottom: 1%;

      // @media (max-width: 768px) {
      //   margin-top: 15rem;
      // }

      // @media (max-width: 360px) {
      //   margin-top: 20rem;
      // }
      p {
        width: 100%;
      }

      .no-border {
        border-radius: 0 !important;
        border-top-left-radius: 25px !important;
        border-top-right-radius: 25px !important;
      }

      .right {
        position: relative;

        @media (max-width: 720px) {
          .box {
            margin-top: -1% !important;
          }
        }
        .box {
          margin-top: -10%;

          display: flex;
          align-content: center;
          flex-direction: column;

          @media (max-width: 1024px) {
            margin-top: 20% !important;
          }
          .image-cropper {
            height: 100%;
            width: 570px;

            @media (max-width: 480x) {
              width: 90%;
              margin: 0 auto;
            }
          }
          .image-cropper-alt {
            height: 100%;
            width: 570px;
            // @media (max-width: 480x) {
            //   width: 90%;
            //   margin: 0 auto;
            // }

            @media (max-width: 350px) {
              height: 246px;
            }
          }

          .image-cropper {
            margin-top: 40%;
          }

          .image-cropper-alt {
            margin-top: 30%;
          }

          .image-cropper,
          .image-cropper-alt {
            text-align: left;
            border: 1px solid #e8e8e8;
            border-radius: 25px;

            @media (max-width: 768px) {
              margin: 0 auto;
              margin-top: 18%;
              width: 100%;
              margin-bottom: 20%;
            }

            .rounded-image {
              width: 120px;
              height: 120px;
              background-repeat: no-repeat;
              background-position: 51%;
              border: 1px solid #e8e8e8;
              background-color: #fff;
              border-radius: 50%;
              background-size: 80px;
              margin: 0 auto;
              z-index: 9999;
              transform: translate(5px, -80px);
            }
            .niebieski-ozdobnik {
              position: absolute;
              z-index: -1;
              margin-left: auto;
              margin-right: auto;
              left: 0;
              right: 0;
              text-align: center;
            }
            .description {
              transform: translateY(-60px);
              font-size: 17px;
              width: 90%;
              margin: 0 auto;

              p {
                margin-top: 2rem;
              }

              h3 {
                font-weight: 700;
              }
            }
          }
        }
        .box-second {
          margin-top: 5%;
        }
        h3 {
          text-align: center;
          padding-top: 3%;
        }
      }
    }
  }

  .wyrob {
    background-color: #009fe3;
    background-clip: padding-box;
    font-weight: 600;
    font-size: 1.2rem;
    width: 100%;
    border-bottom-left-radius: 25px !important;
    border-bottom-right-radius: 25px !important;
    text-align: center;

    p {
      color: #fff !important;
    }
  }

  .dodatkowy {
    margin-top: 1rem;

    p {
      font-size: 0.75rem;
    }
  }

  .wskazania {
    border-radius: 25px;
    margin-top: 5%;
    padding-top: 45px;
    padding-bottom: 55px;
    margin-bottom: 5%;
    font-size: 18px;
    background-color: #edebf6;
    width: 80%;

    @media (max-width: 769px) {
      width: 95%;
    }
    h3 {
      text-align: center;
      padding-top: 3%;
    }
    p {
      text-align: center;
      padding-bottom: 5%;
      font-size: 21px;
      padding-top: 15px;
    }
  }

  .dodatkowy-tekst {
    font-size: 0.5rem;
  }

  .preparaty {
    a {
      text-decoration: none;
    }
    text-align: center;
    align-content: center;
    align-items: center;
    .preparaty-row {
      display: flex;
      justify-content: center;
      align-items: center;
      .order-68 {
        order: 4;
      }

      .order-77 {
        order: 1;
      }

      .order-65 {
        order: 3;
      }

      .order-71 {
        order: 5;
      }

      .order-80 {
        order: 2;
      }

      .order-74 {
        order: 6;
      }

      .col {
        height: 220px;
        width: 200px;
        font-weight: 700;
        font-size: 18px;

        .btn-offer {
          visibility: hidden;
        }
        .arrow {
          display: none;
        }
        .symbol {
          width: 120px;
          padding: 15px;
        }
      }
      .col:hover {
        margin: 0;
        transform: scale(1.02);
        transition: 0.5s;
        border-radius: 15px;
        //transform: scale(1.10);
        box-shadow: 0 20px 25px rgba(0, 0, 0, 0.12),
          0 4px 8px rgba(0, 0, 0, 0.06);
        text-decoration: none;

        visibility: visible;

        .btn-offer {
          visibility: visible;
        }

        /*border:1px solid #e6e6e6;*/
        /*border-radius: 10px;*/
      }
    }
    @media (max-width: 720px) {
      .preparaty-row {
        display: inline-table;
      }
    }
  }
}

@media (max-width: 1024px) {
  .wp-block-embed__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  iframe {
    width: 300px;
  }

  .image-cropper-alt,
  .image-cropper {
    position: relative;
  }

  .niebieski-ozdobnik {
    max-width: 100%;
  }
}

.col.content > * {
  width: 100% !important;
}

figure {
  margin-top: 30px !important;
}
.wp-block-video > video {
  width: 98%;
}

.filmik {
  margin: 0 auto;
}

// .margin-top {
//   @media (max-width: 440px) {
//     margin-top: 75%;
//   }

//   @media (max-width: 360px) {
//     margin-top: 85%;
//   }

//   @media (max-width: 320px) {
//     margin-top: 120%;
//   }
// }
