.container-fluid .cookie-policy-bar {
  background-color: #fff;
  left: 0;
  bottom: 0;
  position: fixed;
  margin: 0;
  padding: 10px;
  z-index: 9999;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 7px 27px -12px #000000; }
  @media (max-width: 962px) {
    .container-fluid .cookie-policy-bar {
      flex-direction: column; } }
  .container-fluid .cookie-policy-bar .cookie-policy-text {
    margin-block: 0px;
    padding: 0 10px;
    color: #042346; }
    @media (max-width: 962px) {
      .container-fluid .cookie-policy-bar .cookie-policy-text {
        font-size: 0.75rem; } }
  .container-fluid .cookie-policy-bar .cookie-policy-wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
    .container-fluid .cookie-policy-bar .cookie-policy-wrapper .cookie-policy-link {
      margin-right: 15px;
      color: #042346;
      text-decoration: underline; }
      @media (max-width: 962px) {
        .container-fluid .cookie-policy-bar .cookie-policy-wrapper .cookie-policy-link {
          font-size: 0.75rem; } }
    .container-fluid .cookie-policy-bar .cookie-policy-wrapper .cookie-policy-button:hover {
      background-color: #218838 !important;
      border-color: #1e7e34 !important; }
    .container-fluid .cookie-policy-bar .cookie-policy-wrapper .cookie-policy-button {
      background-color: #a0bd49;
      color: #fff;
      font-weight: 700;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px; }

.container-fluid .container .footer-col h4 {
  color: white; }

.container-fluid .container .footer {
  color: white; }
  .container-fluid .container .footer a {
    color: white;
    text-decoration: none; }
    @media (max-width: 1024px) {
      .container-fluid .container .footer a {
        font-size: 0.8rem; } }
  .container-fluid .container .footer .row {
    color: white !important; }
    .container-fluid .container .footer .row ul {
      color: white !important;
      list-style: none;
      padding: 0; }
    @media (min-width: 720px) {
      .container-fluid .container .footer .row ul {
        font-weight: 400 !important;
        padding-left: 40px; } }
    .container-fluid .container .footer .row li:before {
      content: "> "; }
    .container-fluid .container .footer .row li {
      color: #33ccff; }
    .container-fluid .container .footer .row .info {
      width: 90%;
      color: white; }
      .container-fluid .container .footer .row .info p {
        color: white; }
        @media (max-width: 1024px) {
          .container-fluid .container .footer .row .info p {
            font-size: 0.8rem; } }
      .container-fluid .container .footer .row .info strong {
        color: white; }
    .container-fluid .container .footer .row .footer-col {
      text-align: center;
      padding-top: 80px;
      padding-bottom: 25px;
      width: 100%; }
    .container-fluid .container .footer .row .list-container {
      padding-left: 0 !important;
      padding-right: 0 !important;
      text-align: center; }
      .container-fluid .container .footer .row .list-container h4 {
        padding-left: 0;
        padding-bottom: 15px;
        border-bottom: 1px solid white; }
      .container-fluid .container .footer .row .list-container .card {
        border-radius: 5%;
        background-color: #2ebfff;
        text-align: center;
        color: white; }
        .container-fluid .container .footer .row .list-container .card .card-text {
          color: white; }
        .container-fluid .container .footer .row .list-container .card .card-title {
          color: white; }
        .container-fluid .container .footer .row .list-container .card p {
          color: white; }
        .container-fluid .container .footer .row .list-container .card .card-body p {
          padding-top: 10px;
          font-size: 15px; }
        .container-fluid .container .footer .row .list-container .card .card-body .btn {
          font-weight: 700;
          padding: 10px 5px 15px 5px; }
    @media (min-width: 720px) {
      .container-fluid .container .footer .row .footer-col {
        text-align: left; }
      .container-fluid .container .footer .row .list-container {
        text-align: left; }
        .container-fluid .container .footer .row .list-container h4 {
          padding-left: 15%;
          padding-bottom: 15px;
          border-bottom: 1px solid white; } }

.socials-navigation {
  padding-left: 30px; }
