@media (min-resolution: 1.5dppx) and (min-width: 1000px) {
  .header {
    height: 100vh !important; } }

.header .header-mask {
  z-index: 2;
  background-size: cover; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header .header-mask {
      height: 100% !important; } }
  .header .header-mask .header-title-container {
    padding-top: 15%;
    width: 75%;
    margin: 0 auto;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row; }
    @media (max-width: 1024px) {
      .header .header-mask .header-title-container {
        padding-top: 0px;
        height: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; } }
    .header .header-mask .header-title-container .title-container {
      z-index: 999;
      justify-content: center;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;
      color: #fff; }
      .header .header-mask .header-title-container .title-container:nth-child(2) {
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        transform: translateY(30rem);
        background-color: #fff;
        border-radius: 50%;
        height: 550px;
        width: 1050px; }
        @media (max-width: 767px) {
          .header .header-mask .header-title-container .title-container:nth-child(2) {
            border-radius: 0%;
            width: 100vw;
            display: none; } }
        @media (max-width: 1024px) {
          .header .header-mask .header-title-container .title-container:nth-child(2) {
            display: flex;
            justify-content: center;
            transform: translateY(-20%);
            align-items: center;
            display: none; } }
      .header .header-mask .header-title-container .title-container .title-content {
        width: 90%;
        margin-bottom: 20px; }
      @media (max-width: 1024px) {
        .header .header-mask .header-title-container .title-container .title-content {
          margin-bottom: 20px;
          padding-left: 0px;
          width: 100%; } }
      .header .header-mask .header-title-container .title-container .black-product {
        color: black !important;
        font-weight: 300 !important; }
    .header .header-mask .header-title-container .ramka-1 {
      margin-top: 9rem;
      max-height: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      top: 0;
      right: 0;
      transform: translateY(150px); }
    @media (max-width: 1024px) {
      .header .header-mask .header-title-container .ramka-1 {
        top: 35%;
        width: 500px;
        height: 800px;
        position: absolute;
        background-image: none;
        transform: translateY(0px); } }

@media (max-width: 1024px) and (max-width: 640px) {
  .header .header-mask .header-title-container .ramka-1 {
    width: 100%; } }
    .header .header-mask .header-title-container .ramka-2 {
      display: flex;
      justify-content: center;
      align-items: flex-start;
      max-height: 100%;
      max-width: 100%;
      background-repeat: no-repeat;
      transform: translateY(15px) translateX(15px); }
      @media (max-width: 1024px) {
        .header .header-mask .header-title-container .ramka-2 {
          top: 0px;
          width: 550px;
          height: 800px;
          position: absolute;
          background-image: none;
          top: 0px; }
          .header .header-mask .header-title-container .ramka-2 .polaris-image,
          .header .header-mask .header-title-container .ramka-2 .solaris-image {
            display: none; } }
      @media (max-width: 640px) {
        .header .header-mask .header-title-container .ramka-2 {
          width: 90%; } }
  .header .header-mask .header-upper-title-bold {
    font-size: 1.35rem;
    font-weight: 400; }
  .header .header-mask .header-upper-title-bold-black {
    color: black;
    font-size: 1.35rem;
    font-weight: 400; }
  .header .header-mask .header-title {
    font-weight: 400;
    text-transform: uppercase; }
  .header .header-mask .header-upper-title-bold {
    font-weight: 500;
    color: white;
    text-transform: uppercase; }
  .header .header-mask .header-produkty {
    font-weight: 300;
    font-size: 1.5rem;
    color: black; }
  .header .header-mask .header-title-bold {
    font-weight: 300;
    font-size: 3.5rem;
    color: white; }
    @media (-webkit-min-device-pixel-ratio: 1.5) and (min-width: 1024px) {
      .header .header-mask .header-title-bold {
        max-width: 70% !important; } }
    @media (min-width: 1024px) {
      .header .header-mask .header-title-bold {
        max-width: 71%; } }
    @media (max-width: 1024px) {
      .header .header-mask .header-title-bold {
        font-size: 2.5rem; } }
    @media (max-width: 568px) {
      .header .header-mask .header-title-bold {
        font-size: 1.4rem; } }
    @media (-webkit-min-device-pixel-ratio: 1.25) and (max-width: 340px) {
      .header .header-mask .header-title-bold {
        font-size: 32px; } }
  .header .header-mask .header-title-bold-black {
    font-weight: 300;
    font-size: 3.5rem;
    margin-bottom: 20px;
    color: black; }
  .header .header-mask .header-button {
    text-decoration: none;
    background-color: #009fe3;
    color: #fff;
    font-weight: 700;
    outline: 0;
    border: 0;
    padding: 14px 15px 17px 15px;
    margin-top: 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px; }
  .header .header-mask .header-button:hover {
    background-color: #0069d9;
    border-color: #0062cc; }
  @media (max-width: 1024px) {
    .header .header-mask .header-button {
      margin-left: 0px; } }
  .header .header-mask .karuzela {
    z-index: 9999;
    width: 55%;
    margin-top: 60px; }
    .header .header-mask .karuzela .carousel {
      width: 100%;
      margin: 0 auto;
      text-align: center; }
      @media (max-width: 1024px) {
        .header .header-mask .karuzela .carousel {
          width: 100%; } }
      .header .header-mask .karuzela .carousel .carousel-cell .product-button {
        background-color: #009fe3;
        text-decoration: none;
        color: #fff;
        font-weight: 700;
        outline: 0;
        border: 0;
        margin-top: 10px;
        padding: 10px 15px 10px 15px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        cursor: pointer; }
      .header .header-mask .karuzela .carousel .carousel-cell .product-button:hover {
        background-color: #0069d9;
        border-color: #0062cc; }
      .header .header-mask .karuzela .carousel .carousel-cell .img-carosell {
        z-index: 99; }
      @media (max-width: 1024px) {
        .header .header-mask .karuzela .carousel .carousel-cell .img-carosell {
          padding-top: 35px;
          z-index: 99; } }

.header-image {
  height: 100%;
  max-width: 100%;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: center right;
  background-size: cover; }
  @media (max-width: 768px) {
    .header-image {
      background-size: cover; } }
  .header-image .header-container-expand {
    padding-bottom: 3rem; }
  .header-image .header-container-scroll {
    background-color: #fff;
    box-shadow: 0px 7px 27px -12px #000000; }
  .header-image .header-container {
    top: 0;
    position: fixed;
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    z-index: 9999; }
    @media (max-width: 1024px) {
      .header-image .header-container {
        background-color: #fff;
        height: 60px; } }
    .header-image .header-container .header-logo {
      position: absolute;
      top: 35px;
      max-width: 10rem;
      margin-left: 2rem; }
      @media (max-width: 1024px) {
        .header-image .header-container .header-logo {
          top: 15px; } }
  .header-image .header-nav-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center; }
    .header-image .header-nav-container .header-nav {
      display: grid;
      grid-template-columns: repeat(12, auto);
      grid-template-rows: repeat(2, auto);
      width: 100%;
      height: 100%;
      margin-right: 110px; }
    @media (max-width: 1024px) {
      .header-image .header-nav-container .header-nav {
        display: none; } }
    .header-image .header-nav-container .search-container {
      display: flex;
      flex-direction: row; }
      .header-image .header-nav-container .search-container .search-input {
        display: none;
        animation: 1s ease-in-out FadeIn; }
      .header-image .header-nav-container .search-container .search-button {
        background-color: #97c11f;
        position: absolute;
        top: 100px;
        right: 40px;
        color: #fff;
        font-weight: 700;
        padding: 6px;
        outline: 0;
        border: 0;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        font-size: 12px; }
        @media (max-width: 1024px) {
          .header-image .header-nav-container .search-container .search-button {
            top: 0px;
            right: 120px; } }
        @media (max-width: 512px) {
          .header-image .header-nav-container .search-container .search-button {
            top: 0px;
            right: 100px; } }
      .header-image .header-nav-container .search-container .search-input-text {
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        border: 2px solid #97c11f;
        position: absolute;
        top: 110px;
        right: 100px;
        outline: 0;
        animation: 1s ease-in-out FadeIn; }
        @media (max-width: 1024px) {
          .header-image .header-nav-container .search-container .search-input-text {
            top: 12px;
            right: 190px;
            width: 30%;
            font-size: 0.85rem; } }
        @media (max-width: 512px) {
          .header-image .header-nav-container .search-container .search-input-text {
            top: 12px;
            right: 160px;
            width: 20%;
            font-size: 0.85rem; } }
    .header-image .header-nav-container .upper-nav {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: flex-start;
      grid-row: 1 / 2;
      grid-column: 9 / 11; }
      .header-image .header-nav-container .upper-nav .doctor-container {
        border-right: 1px solid #97c11f;
        padding: 3% 0;
        padding-right: 1.5rem; }
      .header-image .header-nav-container .upper-nav .pharm-container {
        border-right: 1px solid #97c11f;
        padding: 3% 1.5rem; }
      .header-image .header-nav-container .upper-nav .doctor-container,
      .header-image .header-nav-container .upper-nav .pharm-container {
        white-space: nowrap;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center; }
        .header-image .header-nav-container .upper-nav .doctor-container .upper-link:hover,
        .header-image .header-nav-container .upper-nav .pharm-container .upper-link:hover {
          text-decoration: none; }
        .header-image .header-nav-container .upper-nav .doctor-container .upper-text-scroll,
        .header-image .header-nav-container .upper-nav .pharm-container .upper-text-scroll {
          color: #042346 !important; }
        .header-image .header-nav-container .upper-nav .doctor-container .upper-text,
        .header-image .header-nav-container .upper-nav .pharm-container .upper-text {
          color: #fff;
          margin: 0;
          font-size: 1rem; }
        .header-image .header-nav-container .upper-nav .doctor-container .upper-icon,
        .header-image .header-nav-container .upper-nav .pharm-container .upper-icon {
          height: 2rem;
          margin-right: 0.5rem; }
    .header-image .header-nav-container .language-nav {
      grid-row: 1 / 2;
      grid-column: 11 / 12;
      display: flex;
      justify-content: center;
      align-items: center;
      max-height: 100%;
      max-width: 100%; }
      .header-image .header-nav-container .language-nav .language-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        list-style-type: none;
        margin: 0;
        height: 100%;
        width: 100%; }
        .header-image .header-nav-container .language-nav .language-list .language-item {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;
          margin-right: 1rem;
          height: 100%;
          transition: 1s ease-in-out all; }
          .header-image .header-nav-container .language-nav .language-list .language-item .language-link:hover {
            text-decoration: none;
            font-weight: 700;
            transition: 0.25s ease-in all; }
          .header-image .header-nav-container .language-nav .language-list .language-item .language-text-scroll {
            color: #042346 !important; }
          .header-image .header-nav-container .language-nav .language-list .language-item .language-text {
            color: #fff;
            margin: 0;
            font-size: 0.9rem; }
    .header-image .header-nav-container .active {
      display: flex !important; }
    .header-image .header-nav-container .bottom-nav {
      grid-row: 2 / -1;
      grid-column: 1 / 12;
      border-top: 1px solid #97c11f; }
      .header-image .header-nav-container .bottom-nav .bottom-menu {
        display: flex;
        flex-direction: row;
        list-style-type: none; }
        .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item {
          padding: 0.5rem 0.7rem;
          box-sizing: border-box;
          z-index: 9999; }
          .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .current-page {
            color: red !important; }
          .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .patient-container .active {
            display: none;
            justify-content: flex-start;
            align-items: flex-start;
            background-color: #fff; }
          .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .patient-container {
            display: none;
            position: absolute; }
            .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .patient-container .patient-list {
              list-style-type: none;
              padding: 0; }
              .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .patient-container .patient-list .patient-item .patient-link-scroll {
                color: #042346 !important; }
              .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .patient-container .patient-list .patient-item .patient-link {
                color: #fff; }
              .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .patient-container .patient-list .patient-item .patient-link:hover {
                text-decoration: none; }
          .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .bottom-link-scroll {
            color: #042346 !important; }
            .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .bottom-link-scroll:hover {
              color: #97c11f !important; }
          .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .bottom-link {
            color: #fff;
            white-space: nowrap;
            font-weight: 500;
            font-size: 1.2rem;
            transition: 0.4s ease-in-out all; }
            .header-image .header-nav-container .bottom-nav .bottom-menu .bottom-item .bottom-link:hover {
              transition: 0.4s ease-in-out all;
              text-decoration: none;
              color: #97c11f; }

.mobile-container {
  display: none; }

@media (max-width: 1024px) {
  .mobile-container {
    -webkit-box-shadow: -7px 4px 30px 3px rgba(0, 0, 0, 0.35);
    box-shadow: -7px 4px 30px 3px rgba(0, 0, 0, 0.35);
    display: block;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 9999; }
  .mobile-icon {
    margin: 0 auto 0 auto;
    position: absolute;
    top: 1.45rem;
    right: 1.5rem;
    background-color: #97c11f;
    height: 0.25rem;
    width: 1.25rem;
    cursor: pointer; }
  .mobile-icon::before {
    content: "";
    position: absolute;
    top: 0.5rem;
    background-color: #97c11f;
    height: 0.25rem;
    width: 1.5rem; }
  .mobile-icon::after {
    content: "";
    position: absolute;
    top: -0.5rem;
    background-color: #97c11f;
    height: 0.25rem;
    width: 1.5rem; }
  .header-container {
    width: 100% !important; }
  .active {
    display: flex !important;
    transition: all 1s ease-in-out; }
  .mobile-link {
    color: #042346;
    font-weight: 700;
    white-space: nowrap; }
  .redirect-links {
    margin-top: 25%;
    white-space: nowrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; } }
  @media (max-width: 1024px) and (min-resolution: 2dppx) and (min-width: 568px) {
    .redirect-links {
      margin-top: 3%; } }

@media (max-width: 1024px) {
  .redirect-links li a {
    font-size: 0.85rem; } }
  @media (max-width: 1024px) and (min-resolution: 2dppx) and (min-width: 568px) {
    .redirect-links li a {
      font-size: 0.7rem; } }

@media (max-width: 1024px) {
  .upper-icon-mobile {
    width: 20%;
    margin-right: 2%; }
  .flags-mobile {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 10%; }
    .flags-mobile .flag {
      width: 2rem;
      margin: 5%; }
  .header-logo {
    max-width: 6rem !important; }
  .mobile-block {
    background-color: rgba(255, 255, 255, 0.97);
    display: none;
    flex-direction: column;
    top: 0;
    height: 100vh;
    width: 60vw; }
    .mobile-block .mobile-nav {
      height: 100%;
      margin-top: 8rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-inline-start: 0px; } }
    @media (max-width: 1024px) and (min-resolution: 2dppx) and (min-width: 568px) {
      .mobile-block .mobile-nav {
        margin-top: 0;
        font-size: 0.75rem; } }

@media (max-width: 1024px) {
      .mobile-block .mobile-nav .mobile-item {
        list-style-type: none;
        padding: 2%; } }
      @media (max-width: 1024px) and (min-resolution: 2dppx) and (min-width: 568px) {
        .mobile-block .mobile-nav .mobile-item {
          padding: 1%; } }

@media (max-width: 1024px) {
        .mobile-block .mobile-nav .mobile-item .patient-container-mobile {
          display: none; }
          .mobile-block .mobile-nav .mobile-item .patient-container-mobile .patient-list-mobile {
            list-style-type: none;
            padding: 0; }
            .mobile-block .mobile-nav .mobile-item .patient-container-mobile .patient-list-mobile .patient-item-mobile .patient-link-mobile {
              color: #042346 !important; }
            .mobile-block .mobile-nav .mobile-item .patient-container-mobile .patient-list-mobile .patient-item-mobile .patient-link-mobile:hover {
              text-decoration: none; }
        .mobile-block .mobile-nav .mobile-item .mobile-link {
          color: #042346;
          font-weight: 700;
          white-space: nowrap; }
          .mobile-block .mobile-nav .mobile-item .mobile-link:hover {
            text-decoration: none; }
          .mobile-block .mobile-nav .mobile-item .mobile-link:visited {
            color: #042346; } }

@media (max-width: 1600px) {
  .header {
    height: 700px !important; }
  .header-mask {
    height: 700px !important; } }

@media (max-width: 1200px) {
  .header {
    height: 450px !important; }
  .header-mask {
    height: 450px !important; } }

@media (max-width: 767px) {
  .header {
    height: 340px !important; }
  .header-mask {
    height: 340px !important; } }

@media (max-width: 767px) {
  .header-mask-o-nas {
    height: 300px !important; } }

@media (max-width: 767px) {
  .header-main-o-nas {
    height: 300px !important; } }

.header-glowna {
  background-size: cover !important; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header-glowna {
      background-position: right -20px; } }
  @media (max-width: 767px) {
    .header-glowna {
      background-position: 96% 200% !important;
      background-size: 140% !important; } }
  @media (max-width: 475px) {
    .header-glowna {
      background-position: 96% 50px !important;
      background-size: 210% !important; } }

.header-o-nas {
  background-size: cover !important;
  background-position: 0px 90px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header-o-nas {
      background-position: right 40px; } }
  @media (max-width: 768px) {
    .header-o-nas {
      background-position: right 50px !important;
      background-size: 160% !important; } }
  @media (max-width: 440px) {
    .header-o-nas {
      background-position: -366px 60px !important;
      background-size: 215% !important; } }
  @media (max-width: 340px) {
    .header-o-nas {
      background-position: -329px 59px !important;
      background-size: 234% !important; } }

.header-wspolpraca {
  background-size: cover !important;
  background-position: 0px 110px; }
  @media (max-width: 768px) {
    .header-wspolpraca {
      background-position: 60% 100px !important;
      background-size: 370%; } }

.header-aktualnosci {
  background-size: cover !important;
  background-position: 80% 40px; }
  @media (max-width: 768px) {
    .header-aktualnosci {
      background-position: 75% 50px !important;
      background-size: 400%; } }

.header-preparaty {
  background-size: 100% !important;
  background-position: right -29px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header-preparaty {
      background-position: right -20px; } }
  @media (max-width: 767px) {
    .header-preparaty {
      background-position: 96% bottom !important;
      background-size: 140% !important; } }
  @media (max-width: 475px) {
    .header-preparaty {
      background-position: 96% 50px !important;
      background-size: 210% !important; } }

.header-kategorie-produktow {
  background-size: cover !important;
  background-position: -20px -10px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header-kategorie-produktow {
      background-position: -30px 0; } }
  @media (max-width: 768px) {
    .header-kategorie-produktow {
      background-position: 77% 0px !important;
      background-size: 460% !important; } }

.header-strefa-pacjenta {
  background-size: cover !important;
  background-position: 0px -55px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header-strefa-pacjenta {
      background-position: 0px -65px; } }
  @media (max-width: 768px) {
    .header-strefa-pacjenta {
      background-position: 79% 0px !important;
      background-size: 440%; } }

.header-kariera {
  background-position: 0px 100px;
  background-size: cover !important; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header-kariera {
      background-position: -20px 100px; } }
  @media (max-width: 768px) {
    .header-kariera {
      background-size: 400%;
      background-position: 88% 50px !important; } }

.header-kontakt {
  background-position: -115px 80px;
  background-size: cover !important; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .header-kontakt {
      background-position: -270px 65px; } }
  @media (max-width: 768px) {
    .header-kontakt {
      background-position: 95% 50px !important;
      background-size: 440%; } }

/* Strefa pacjenta newsy */
.dla-niemowlat {
  background-position: 25px 30px !important; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .dla-niemowlat {
      background-position: -260px 30px !important; } }
  @media (max-width: 568px) {
    .dla-niemowlat {
      background-position: -660px 50px !important; } }
  @media (max-width: 420px) {
    .dla-niemowlat {
      background-position: -630px 50px !important; } }

.dla-calej-rodziny {
  background-position: 0px 110px !important; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .dla-calej-rodziny {
      background-position: -260px 110px !important; } }
  @media (max-width: 568px) {
    .dla-calej-rodziny {
      background-position: -590px 55px !important; } }
  @media (max-width: 420px) {
    .dla-calej-rodziny {
      background-position: -560px 55px !important; } }

.okres-jesienno-zimowy {
  background-position: -115px 90px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .okres-jesienno-zimowy {
      background-position: -250px 90px; } }
  @media (max-width: 568px) {
    .okres-jesienno-zimowy {
      background-position: -670px 60px !important; } }
  @media (max-width: 420px) {
    .okres-jesienno-zimowy {
      background-position: -640px 60px !important; } }

.kamica-nerkowa {
  background-position: -120px 90px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .kamica-nerkowa {
      background-position: -260px 90px; } }
  @media (max-width: 568px) {
    .kamica-nerkowa {
      background-position: -670px 50px !important; } }
  @media (max-width: 420px) {
    .kamica-nerkowa {
      background-position: -630px 50px !important; } }

.chrapanie {
  background-position: -110px 100px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .chrapanie {
      background-position: -270px 100px; } }
  @media (max-width: 568px) {
    .chrapanie {
      background-position: -640px 50px !important; } }
  @media (max-width: 420px) {
    .chrapanie {
      background-position: -610px 50px !important; } }
  .chrapanie .header-mask
.header-title-container
.title-container
.title-content
.header-title-bold {
    width: 60%; }
    @media (max-width: 1024px) {
      .chrapanie .header-mask
.header-title-container
.title-container
.title-content
.header-title-bold {
        width: 100%; } }

.refluks {
  background-position: -110px 0px; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .refluks {
      background-position: -265px 0px; } }
  @media (max-width: 568px) {
    .refluks {
      background-position: -610px 20px !important; } }
  @media (max-width: 420px) {
    .refluks {
      background-position: -580px 20px !important; } }

@media (max-width: 768px) {
  .ozdobnik-separator {
    display: none; } }

@keyframes Rotate {
  0% {
    transform: rotate(0deg); }
  33% {
    transform: rotate(10deg); }
  66% {
    transform: rotate(-10deg); }
  100% {
    transform: rotate(0deg); } }

@keyframes FadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes FadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.active-language {
  border-top: 2px solid #fff;
  margin-top: -2px;
  font-weight: 700; }

.active-language-blue {
  border-top: 2px solid #042346 !important;
  margin-top: -2px;
  font-weight: 700; }

.active-link {
  border-top: 2px solid #fff;
  margin-top: -2px; }

.active-link-blue {
  border-top: 2px solid #042346 !important;
  margin-top: -2px; }

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  top: 7rem;
  right: 20%;
  height: 550px;
  transform: translate(-120px, 140px);
  z-index: 2; }
  @media (max-width: 1366px) and (min-resolution: 2dppx) {
    .image-container {
      transform: translate(100px, 315px); } }
  @media (max-width: 1024px) and (min-resolution: 2dppx) {
    .image-container {
      transform: translate(185px, 215px) !important; } }
  @media (max-width: 1024px) {
    .image-container {
      transform: translate(185px, 25px); } }
  @media (max-width: 1024px) and (max-height: 768px) and (min-resolution: 1.75dppx) {
    .image-container {
      transform: translate(185px, -250px) !important; } }
  .image-container .product-image {
    max-width: 500px;
    height: auto; }
    @media (max-width: 480px) {
      .image-container .product-image {
        width: 100%; } }
  @media (max-width: 768px) {
    .image-container {
      position: static;
      top: 32rem !important;
      right: 10% !important; } }
  @media (max-width: 360px) {
    .image-container {
      position: static;
      top: 26rem !important;
      right: 3% !important; } }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .image-container {
      top: 10rem; } }
  .image-container .nowosc {
    width: 14rem;
    top: 2rem; }
  @media (max-width: 768px) {
    .image-container .image-container {
      top: 32rem !important;
      right: 10% !important; }
    .image-container .product-image {
      width: 300px; }
    .image-container .nowosc {
      top: 0rem; } }
  @media (max-width: 1024px) {
    .image-container .nowosc {
      width: 10rem; } }

@media (max-width: 768px) and (max-height: 1024px) and (min-resolution: 1.75dppx) {
  .image-container {
    transform: translate(185px, -220px) !important; } }
