main .container .next-section {
  font-size: 26px;
  line-height: 1.3; }
  main .container .next-section .col .text {
    width: 50%;
    font-size: 2rem; }
    @media (max-width: 1024px) {
      main .container .next-section .col .text {
        margin-top: 5rem;
        width: 100% !important; } }
    @media (max-width: 350px) {
      main .container .next-section .col .text {
        margin-top: 10rem; } }
  main .container .next-section .col .subtext {
    font-size: 1.4rem;
    width: 50%;
    line-height: 1.3;
    padding: 15px 15px 15px 15px; }
    @media (max-width: 1024px) {
      main .container .next-section .col .subtext {
        width: 100%; } }
  main .container .next-section p {
    padding: 15px 15px 15px 15px; }
  main .container .next-section .karuzela {
    transform: translateY(-5px); }
    main .container .next-section .karuzela p {
      font-size: 15px; }
    main .container .next-section .karuzela img {
      padding-top: 35px; }
  @media (min-width: 1100px) {
    main .container .next-section .karuzela {
      transform: translate(45px, -305px); } }

main .symbols-row {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 60px;
  margin-bottom: 60px;
  text-align: center;
  align-items: center;
  align-content: center; }
  @media (min-width: 1024px) {
    main .symbols-row .col-lg-4 {
      padding: 25px; } }
  main .symbols-row .col-lg-4:hover {
    transition: 0.5s;
    border: none;
    border-radius: 15px;
    transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    z-index: 10; }
    main .symbols-row .col-lg-4:hover .arrow {
      visibility: visible; }
    main .symbols-row .col-lg-4:hover .quantity {
      visibility: visible; }
      main .symbols-row .col-lg-4:hover .quantity img {
        padding-bottom: 5px;
        width: 8%; }
  main .symbols-row .arrow {
    visibility: hidden;
    width: 40px;
    height: 40px; }
  main .symbols-row .quantity {
    visibility: hidden;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #e1e1e1; }
    main .symbols-row .quantity img {
      padding-bottom: 5px;
      width: 8%; }
  main .symbols-row .title {
    font-size: 21px;
    font-weight: 600; }
  main .symbols-row .border-spec {
    background-color: #fff;
    cursor: pointer; }
  main .symbols-row .hover-77 {
    order: 1; }
  main .symbols-row .hover-80 {
    order: 2; }
  main .symbols-row .hover-65 {
    order: 3; }
  main .symbols-row .hover-68 {
    order: 4; }
  main .symbols-row .hover-71 {
    order: 5; }
  main .symbols-row .hover-74 {
    order: 6; }
  main .symbols-row .hover-523 {
    order: 1; }
  main .symbols-row .hover-535 {
    order: 2; }
  main .symbols-row .hover-525 {
    order: 3; }
  main .symbols-row .hover-511 {
    order: 4; }
  main .symbols-row .hover-528 {
    order: 5; }
  main .symbols-row .hover-534 {
    order: 6; }
  main .symbols-row .border-spec-eng {
    background-color: #fff; }
    main .symbols-row .border-spec-eng:first-child {
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd; }
    main .symbols-row .border-spec-eng:nth-child(5) {
      border-left: 1px solid #ddd; }
    main .symbols-row .border-spec-eng:nth-child(7) {
      border-top: 1px solid #ddd; }
    main .symbols-row .border-spec-eng:nth-child(3) {
      border-right: 1px solid #ddd; }
    main .symbols-row .border-spec-eng:nth-child(11) {
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd; }
    main .symbols-row .border-spec-eng:nth-child(4) {
      border-left: none; }
    @media (max-width: 1024px) {
      main .symbols-row .border-spec-eng {
        border: 0px !important; } }
  main .symbols-row .border-spec:first-child {
    border-right: 1px solid #ddd; }
  main .symbols-row .border-spec:nth-child(7) {
    border-top: 1px solid #ddd; }
  main .symbols-row .border-spec:nth-child(9) {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd; }
  main .symbols-row .border-spec:nth-child(3) {
    border-left: 1px solid #ddd; }
  main .symbols-row .border-spec:nth-child(5) {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd; }
  main .symbols-row .border-spec:nth-child(11) {
    border-right: none; }
  main .symbols-row .border-spec:nth-child(4) {
    border-left: none; }
  @media (max-width: 1024px) {
    main .symbols-row .border-spec {
      border: 0px !important; } }

main .flicks {
  background-color: #edebf6; }
  main .flicks .products-carousel {
    background: #edebf6; }
    main .flicks .products-carousel .flickity-viewport {
      height: 700px !important; }
    main .flicks .products-carousel .carousel-cell {
      height: 570px;
      background-color: transparent;
      text-decoration: none; }
      main .flicks .products-carousel .carousel-cell a {
        text-decoration: none; }
        main .flicks .products-carousel .carousel-cell a:hover {
          text-decoration: none; }
      main .flicks .products-carousel .carousel-cell .card-img-top {
        height: 300px !important;
        object-fit: contain; }
      main .flicks .products-carousel .carousel-cell .nowosc {
        width: 12rem;
        position: absolute;
        left: 21%;
        transform: translateY(-10px); }
        @media (max-width: 1024px) {
          main .flicks .products-carousel .carousel-cell .nowosc {
            left: 25%; } }
        @media (max-width: 768px) {
          main .flicks .products-carousel .carousel-cell .nowosc {
            left: 40%; } }
        @media (max-width: 460px) {
          main .flicks .products-carousel .carousel-cell .nowosc {
            left: 32%; } }
      main .flicks .products-carousel .carousel-cell .card {
        border: none;
        border-radius: 25px;
        text-align: center;
        background-color: transparent; }
        main .flicks .products-carousel .carousel-cell .card .popular-text {
          height: 65px; }
        main .flicks .products-carousel .carousel-cell .card .card-title {
          font-size: 24px;
          font-weight: bold; }
        main .flicks .products-carousel .carousel-cell .card .button-info {
          transform: translateY(40px); }
          main .flicks .products-carousel .carousel-cell .card .button-info .btn {
            width: 100%; }
        main .flicks .products-carousel .carousel-cell .card:hover {
          background-color: white; }
  main .flicks .ozdobniki {
    position: relative;
    text-align: center; }
    main .flicks .ozdobniki .ozdobnik {
      text-align: center;
      position: relative;
      width: 100%;
      z-index: 2; }
      main .flicks .ozdobniki .ozdobnik-inside {
        position: absolute;
        width: 10%;
        left: 0;
        top: -50%;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        z-index: 3; }
      @media (min-width: 720px) {
        main .flicks .ozdobniki .ozdobnik-inside {
          width: 2%;
          left: 0;
          top: -50%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto; } }
      main .flicks .ozdobniki .ozdobnik-bottom {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        top: 40%;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        z-index: 3; }
        main .flicks .ozdobniki .ozdobnik-bottom img {
          width: 90%;
          margin-top: 20%; }
      @media (min-width: 720px) {
        main .flicks .ozdobniki .ozdobnik-bottom {
          width: 40px;
          height: 40px;
          left: 0;
          top: 25%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto; }
          main .flicks .ozdobniki .ozdobnik-bottom img {
            width: 160%;
            padding-right: 10px;
            margin-top: 20%; } }
    @media (max-width: 720px) {
      main .flicks .ozdobniki .text-down {
        left: 42% !important; } }
    main .flicks .ozdobniki .button-up {
      display: none; }
    main .flicks .ozdobniki .button-down {
      display: none; }
    @media (min-width: 720px) {
      main .flicks .ozdobniki .button-down {
        left: 0;
        font-size: 15px;
        line-height: 0.9;
        font-weight: 700;
        top: 30%;
        width: 100%;
        display: block; }
      main .flicks .ozdobniki .button-up {
        top: 52%;
        left: 0;
        width: 100%;
        font-size: 15px;
        line-height: 0.9;
        font-weight: 700;
        display: block; } }
    main .flicks .ozdobniki .ozdobnik2 {
      margin-top: 15px;
      text-align: center;
      position: relative;
      width: 100%;
      text-align: center;
      vertical-align: bottom; }
    @media (min-width: 720px) {
      main .flicks .ozdobniki .ozdobnik {
        flex-basis: 0;
        width: auto; }
      main .flicks .ozdobniki .ozdobnik2 {
        flex-basis: 0;
        width: auto; } }

@media (min-width: 720px) {
  main .flicks {
    margin-top: 5%; } }

main .news {
  height: 750px; }
  main .news a {
    text-decoration: none; }
    main .news a:hover {
      text-decoration: none; }
  main .news .row {
    display: block !important; }
    main .news .row .prawy {
      float: right !important; }
      main .news .row .prawy .data {
        width: 90px;
        padding: 4px 4px 4px 7px;
        background-color: #e8e8e8;
        font-weight: 600;
        font-size: 14px;
        margin: 0;
        border: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        left: 33%;
        height: 30px;
        bottom: 0; }
      main .news .row .prawy .card-title {
        font-weight: 600;
        font-size: 20px;
        margin-top: 4%; }
      main .news .row .prawy .card-img-top {
        border-radius: 5%;
        width: 100%;
        height: 300px;
        float: left;
        object-fit: cover; }
      @media (min-width: 720px) {
        main .news .row .prawy .card-img-top {
          margin-right: 1rem;
          margin-top: 0;
          margin-bottom: auto;
          margin-left: auto; }
        main .news .row .prawy .card-title {
          margin-top: 2%;
          font-size: 20px; }
        main .news .row .prawy .card-news-text {
          width: 100%;
          float: left;
          height: auto; }
          main .news .row .prawy .card-news-text p {
            font-size: 18px; } }
      main .news .row .prawy p {
        line-height: 1.1;
        padding-bottom: 10px; }
    main .news .row .prawy:hover {
      transition: 0.5s;
      transform: scale(1.05); }
    @media (max-width: 1024px) {
      main .news .row .prawy {
        float: none; }
      main .news .row .news-link {
        margin-bottom: 10%;
        width: 100%;
        display: flex !important;
        flex-direction: column;
        justify-content: center !important;
        align-items: center !important; } }
    @media (max-width: 720px) {
      main .news .row .prawy {
        display: block !important;
        margin-top: 5%;
        flex-direction: column !important;
        margin-bottom: 5%;
        padding: 25px 30px 25px 30px; } }
    @media (max-width: 1024px) {
      main .news .row .prawy {
        display: flex !important;
        flex-direction: row;
        justify-content: center;
        align-items: center; } }
    @media (min-width: 720px) {
      main .news .row .prawy .data {
        width: 90px;
        padding: 4px 4px 4px 7px;
        background-color: #e8e8e8;
        font-weight: 600;
        font-size: 14px;
        margin: 0;
        border: none;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
        left: 15%;
        top: 80px; }
      main .news .row .prawy .card-title {
        font-weight: 600;
        font-size: 19px; }
      main .news .row .prawy .card-img-top {
        width: 160px;
        min-width: 160px;
        height: 140px;
        float: left;
        object-fit: cover; } }

@media (min-width: 720px) and (max-width: 1000px) {
  main .news .row .prawy .card-img-top {
    width: 260px;
    min-width: 260px;
    height: 240px;
    float: left;
    object-fit: cover; } }
    @media (min-width: 720px) {
      main .news .row .prawy p {
        line-height: 1.1;
        padding-bottom: 10px; } }
    main .news .row .lewy {
      float: left !important;
      padding-left: 0 !important;
      padding-right: 0 !important;
      border-radius: 5%;
      background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.65)), color-stop(100%, rgba(0, 0, 0, 0)));
      /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      /* Opera 11.10+ */
      background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      /* IE10+ */
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.65) 100%);
      /* W3C */ }
      @media (max-width: 1024px) {
        main .news .row .lewy {
          width: 100%;
          margin: 0 auto; } }
      main .news .row .lewy .card-img-top {
        border-radius: 5%;
        position: relative;
        width: 100%;
        height: 495px;
        z-index: -1;
        float: left;
        object-fit: contain; }
      main .news .row .lewy p {
        color: white;
        padding-left: 20px;
        padding-right: 20px;
        font-weight: 300;
        text-align: center; }
      main .news .row .lewy .title {
        bottom: 9%;
        text-align: center;
        font-weight: 600;
        font-size: 20px;
        color: white;
        width: 100%; }
      @media (min-width: 720px) {
        main .news .row .lewy .title {
          position: absolute;
          color: white;
          width: 100%; } }
  @media (min-width: 720px) {
    main .news .row {
      display: block !important; } }
  @media (max-width: 1024px) {
    main .news .row {
      display: flex !important; }
    main .news .lewy {
      max-width: none !important;
      float: none !important; } }

main .strefa .row .flickity-viewport {
  height: 750px; }

main .strefa .row .col-md-6 {
  margin-top: 14%;
  margin-bottom: 11%; }
  @media (max-width: 480px) {
    main .strefa .row .col-md-6 {
      margin-top: 30%; } }
  main .strefa .row .col-md-6 .card {
    height: 600px;
    width: 100%;
    border-radius: 25px !important;
    z-index: 1;
    text-align: center;
    align-items: center;
    position: relative; }
    main .strefa .row .col-md-6 .card .card-body {
      margin-top: -90px; }
      main .strefa .row .col-md-6 .card .card-body .card-title {
        margin-bottom: 35px; }
        @media (max-width: 340px) {
          main .strefa .row .col-md-6 .card .card-body .card-title {
            margin-top: 20px; } }
      main .strefa .row .col-md-6 .card .card-body .icon-container {
        margin-top: 35px; }
    main .strefa .row .col-md-6 .card .button-info {
      display: none;
      font-weight: 700; }
    main .strefa .row .col-md-6 .card .rounded {
      border-radius: 50% !important;
      z-index: 4;
      align-content: center;
      height: 200px;
      width: 200px;
      object-fit: cover;
      transform: translateY(-100px); }
      @media (max-width: 1024px) {
        main .strefa .row .col-md-6 .card .rounded {
          height: 150px;
          width: 150px;
          transform: translateY(-75px); } }
      @media (max-width: 350px) {
        main .strefa .row .col-md-6 .card .rounded {
          height: 100px;
          width: 100px;
          transform: translateY(-50px); } }
    main .strefa .row .col-md-6 .card .ozdobnik-main {
      border-radius: 25px;
      position: absolute;
      max-width: 100%;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center; }
    main .strefa .row .col-md-6 .card .ozdobnik {
      width: 100%;
      position: absolute; }
    main .strefa .row .col-md-6 .card .card-body .card-text {
      font-size: 16px; }
    main .strefa .row .col-md-6 .card .card-body .col-lg-4 {
      width: 33%;
      max-width: 150px; }

main .strefa .row .card:hover {
  transform: scale(1.05) !important;
  -webkit-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
  transition: 0.5s;
  z-index: 9998; }
  @media (max-width: 720px) {
    main .strefa .row .card:hover .col:first-child {
      transform: scale(1) !important; } }
  main .strefa .row .card:hover .button-info {
    display: inline-block;
    transform: translateY(40px);
    width: 75%; }

main .coop {
  background: url("/wp-content/themes/vitamed/assets/img/wspolpraca-tlo.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
  width: 100%; }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    main .coop {
      height: 174vh; } }
  @media (max-width: 768px) {
    main .coop {
      display: flex;
      align-items: flex-end; } }
  main .coop .btn-wspolpraca {
    font-size: 20px;
    font-weight: 700;
    padding: 14px 15px 17px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px; }
    @media (max-width: 768px) {
      main .coop .btn-wspolpraca {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 13px 15px 13px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px; } }

main .main {
  font-size: 28px;
  line-height: 1.2; }
  @media (max-width: 768px) {
    main .main {
      font-size: 20px !important; } }

main .wspolpraca {
  display: inline-block;
  margin-top: 15%; }
  main .wspolpraca .col {
    margin-top: 35%;
    flex-basis: auto !important; }
  @media (min-width: 720px) {
    main .wspolpraca .col {
      margin-top: 10%;
      flex-basis: 0 !important; } }
  main .wspolpraca small {
    font-size: 17px; }
  main .wspolpraca .btn {
    font-size: 20px;
    font-weight: 700;
    padding: 14px 15px 17px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px; }

.carrier {
  background: url("/wp-content/themes/vitamed/assets/img/tlo-sekcja-kariera.jpg") no-repeat center right;
  background-size: cover;
  height: 100vh;
  width: 100%; }
  @media (max-width: 1024px) and (min-height: 1365px) and (min-resolution: 2dppx) {
    .carrier {
      background-position: -3700px 0px !important; } }
  @media (max-width: 1366px) and (min-resolution: 2dppx) {
    .carrier {
      background-position: -2300px 0px; } }
  @media (max-width: 1024px) and (min-resolution: 2dppx) {
    .carrier {
      background-position: -1700px 0px; } }
  .carrier .btn-wspolpraca {
    font-size: 20px;
    font-weight: 700;
    padding: 14px 15px 17px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px; }
    @media (max-width: 768px) {
      .carrier .btn-wspolpraca {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 13px 15px 13px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px; } }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    .carrier {
      height: 155vh; } }
  @media (max-width: 768px) {
    .carrier {
      background-position: 80% 200px;
      background-size: cover; } }
  .carrier .kariera {
    display: inline-block;
    margin-top: 5%; }
    .carrier .kariera .col {
      margin-top: 15%;
      flex-basis: auto !important; }
    @media (min-width: 720px) {
      .carrier .kariera .col {
        margin-top: 10%;
        flex-basis: 0 !important; } }
    .carrier .kariera .main {
      font-size: 28px;
      line-height: 1.2; }
    .carrier .kariera small {
      font-size: 17px; }
    .carrier .kariera .btn {
      font-size: 20px;
      font-weight: 700;
      padding: 14px 15px 17px 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px; }

.gridowe-ikonki {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr; }

.popular-products .flickity-button.previous {
  position: absolute;
  left: -60px; }
  @media (max-width: 1500px) {
    .popular-products .flickity-button.previous {
      left: -30px; } }
  @media (max-width: 768px) {
    .popular-products .flickity-button.previous {
      left: 10px; } }

.kolumienka-mobile {
  margin-top: 20%;
  padding-left: 10%; }
  @media (min-width: 481px) and (max-width: 1024px) {
    .kolumienka-mobile {
      margin-bottom: 50%; } }
  @media (max-width: 480px) {
    .kolumienka-mobile {
      margin-bottom: 30%; } }

.popular-products .flickity-button.next {
  position: absolute;
  right: -60px; }
  @media (max-width: 1500px) {
    .popular-products .flickity-button.next {
      right: -30px; } }
  @media (max-width: 768px) {
    .popular-products .flickity-button.next {
      right: 10px; } }
