main {
  .container {
    .next-section {
      font-size: 26px;
      line-height: 1.3;

      @media (max-width: 768px) {
        //margin-top: 20rem;
      }

      @media (max-width: 400px) {
        //margin-top: 28rem;
      }
      .col {
        .text {
          width: 50%;
          font-size: 2rem;

          @media (max-width: 1024px) {
            margin-top: 5rem;
            width: 100% !important;
          }
          @media (max-width: 350px) {
            margin-top: 10rem;
          }
        }
        .subtext {
          font-size: 1.4rem;
          width: 50%;
          line-height: 1.3;
          padding: 15px 15px 15px 15px;

          @media (max-width: 1024px) {
            width: 100%;
          }
        }
      }
      p {
        padding: 15px 15px 15px 15px;
      }

      .karuzela {
        transform: translateY(-5px);
        //.flickity-prev-next-button.previous {
        //  left: 30px !important;
        //}
        //.flickity-prev-next-button.next {
        //  right: 30px;
        //}
        p {
          font-size: 15px;
        }
        img {
          //background-color: white;
          padding-top: 35px;
          //border-radius: 50%;
        }
      }
      @media (min-width: 1100px) {
        .karuzela {
          transform: translate(45px, -305px);
        }
      }
    }
  }

  //SYMBOLE

  .symbols-row {
    padding-left: 40px;
    padding-right: 40px;
    margin-top: 60px;
    margin-bottom: 60px;
    text-align: center;
    align-items: center;
    align-content: center;
    @media (min-width: 1024px) {
      .col-lg-4 {
        padding: 25px;
      }
    }

    .col-lg-4:hover {
      transition: 0.5s;
      //padding: 15px 15px 15px 15px;
      border: none;
      border-radius: 15px;
      transform: scale(1.03);
      -webkit-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
      -moz-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
      box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
      margin: 0 auto;
      z-index: 10;
      .arrow {
        visibility: visible;
      }
      .quantity {
        visibility: visible;
        img {
          padding-bottom: 5px;
          width: 8%;
        }
      }
    }

    .arrow {
      visibility: hidden;
      width: 40px;
      height: 40px;
    }
    .quantity {
      visibility: hidden;
      width: 100%;
      font-size: 14px;
      text-align: center;
      color: #e1e1e1;
      img {
        padding-bottom: 5px;
        width: 8%;
      }
    }
    .title {
      font-size: 21px;
      font-weight: 600;
    }
    .border-spec {
      background-color: #fff;
      cursor: pointer;
    }

    .hover-77 {
      order: 1;
    }

    .hover-80 {
      order: 2;
    }

    .hover-65 {
      order: 3;
    }

    .hover-68 {
      order: 4;
    }

    .hover-71 {
      order: 5;
    }

    .hover-74 {
      order: 6;
    }

    // ENG

    .hover-523 {
      order: 1;
    }

    .hover-535 {
      order: 2;
    }

    .hover-525 {
      order: 3;
    }

    .hover-511 {
      order: 4;
    }

    .hover-528 {
      order: 5;
    }

    .hover-534 {
      order: 6;
    }
    .border-spec-eng {
      background-color: #fff;

      &:first-child {
        border-top: 1px solid #ddd !important;
        border-right: 1px solid #ddd !important;
      }

      &:nth-child(5) {
        border-left: 1px solid #ddd !important;
      }

      &:nth-child(7) {
        border-top: 1px solid #ddd !important;
      }

      &:nth-child(3) {
        border-right: 1px solid #ddd;
      }

      &:nth-child(11) {
        border-left: 1px solid #ddd;
        border-top: 1px solid #ddd;
      }

      &:nth-child(4) {
        border-left: none;
      }
    }

    .border-spec {
      &:first-child {
        border-right: 1px solid #ddd;
      }

      &:nth-child(7) {
        border-top: 1px solid #ddd;
      }

      &:nth-child(9) {
        border-top: 1px solid #ddd;
        border-left: 1px solid #ddd;
      }

      &:nth-child(3) {
        border-left: 1px solid #ddd;
      }

      &:nth-child(5) {
        border-top: 1px solid #ddd;
        border-right: 1px solid #ddd;
      }

      &:nth-child(11) {
        border-right: none;
      }

      &:nth-child(4) {
        border-left: none;
      }

      @media (max-width: 1024px) {
        border: 0px !important;
      }
    }
  }

  //POPULARNE PREPARATY KARUZELA

  .flicks {
    background-color: #edebf6;
    .products-carousel {
      background: #edebf6;
      .flickity-viewport {
        height: 700px !important;
      }
      .carousel-cell {
        height: 570px;
        background-color: transparent;
        text-decoration: none;

        a {
          text-decoration: none;

          &:hover {
            text-decoration: none;
          }
        }
        .card-img-top {
          height: 300px !important;
          //width: 250px;
          object-fit: contain;
        }
        .nowosc {
          width: 8rem;
          // transform: translateY(-15px);
          position: absolute;
          left: 30%;

          @media (max-width: 1024px) {
            left: 25%;
          }

          @media (max-width: 768px) {
            left: 40%;
          }

          @media (max-width: 460px) {
            left: 32%;
          }
        }

        .card {
          border: none;
          border-radius: 25px;
          text-align: center;
          background-color: transparent;

          .popular-text {
            height: 65px;
          }

          .card-title {
            font-size: 24px;
            font-weight: bold;
          }
          .button-info {
            transform: translateY(40px);
            .btn {
              width: 100%;
            }
          }

          &:hover {
            background-color: white;
          }
        }
      }
    }

    .ozdobniki {
      position: relative;
      text-align: center;
      //margin-top: 4%;
      .ozdobnik {
        text-align: center;
        position: relative;
        width: 100%;
        z-index: 2;
        &-inside {
          position: absolute;
          width: 10%;
          left: 0;
          top: -50%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto;
          z-index: 3;
        }
        @media (min-width: 720px) {
          &-inside {
            width: 2%;
            left: 0;
            top: -50%;
            right: 0;
            bottom: 0;
            display: block;
            margin: auto;
          }
        }

        &-bottom {
          position: absolute;
          width: 50px;
          height: 50px;
          left: 0;
          top: 40%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto;
          z-index: 3;

          img {
            width: 90%;
            margin-top: 20%;
          }
        }
        @media (min-width: 720px) {
          &-bottom {
            width: 40px;
            height: 40px;
            left: 0;
            top: 25%;
            right: 0;
            bottom: 0;
            display: block;
            margin: auto;
            img {
              width: 160%;
              padding-right: 10px;
              margin-top: 20%;
            }
          }
        }
      }
      @media (max-width: 720px) {
        .text-down {
          left: 42% !important;
        }
      }
      .button-up {
        display: none;
      }
      .button-down {
        display: none;
      }
      @media (min-width: 720px) {
        .button-down {
          left: 0;
          font-size: 15px;
          line-height: 0.9;
          font-weight: 700;
          top: 30%;
          width: 100%;
          display: block;
        }
        .button-up {
          top: 52%;
          left: 0;
          width: 100%;
          font-size: 15px;
          line-height: 0.9;
          font-weight: 700;
          display: block;
        }
      }
      .ozdobnik2 {
        margin-top: 15px;
        text-align: center;
        position: relative;
        width: 100%;
        text-align: center;
        vertical-align: bottom;
      }
      @media (min-width: 720px) {
        .ozdobnik {
          flex-basis: 0;
          width: auto;
        }

        .ozdobnik2 {
          flex-basis: 0;
          width: auto;
        }
      }
    }
  }
  @media (min-width: 720px) {
    .flicks {
      margin-top: 5%;
    }
  }

  .news {
    height: 750px;

    a {
      text-decoration: none;

      &:hover {
        text-decoration: none;
      }
    }
    .row {
      display: block !important;
      .prawy {
        float: right !important;
        .data {
          width: 90px;
          padding: 4px 4px 4px 7px;
          background-color: #e8e8e8;
          font-weight: 600;
          font-size: 14px;
          margin: 0;
          border: none;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          border-top-right-radius: 15px;
          left: 33%;
          height: 30px;
          bottom: 0;
        }
        .card-title {
          font-weight: 600;
          font-size: 20px;
          margin-top: 4%;
        }
        .card-img-top {
          border-radius: 5%;
          width: 100%;

          height: 300px;
          //margin-right: 2rem;
          float: left;
          object-fit: cover;
        }
        @media (min-width: 720px) {
          .card-img-top {
            margin-right: 1rem;
            margin-top: 0;
            margin-bottom: auto;
            margin-left: auto;
          }
          .card-title {
            margin-top: 2%;
            font-size: 20px;
          }
          .card-news-text {
            width: 100%;
            float: left;
            height: auto;

            p {
              font-size: 18px;
            }
          }
        }
        p {
          line-height: 1.1;
          padding-bottom: 10px;
        }
      }

      .prawy:hover {
        transition: 0.5s;
        transform: scale(1.05);
      }

      @media (max-width: 1024px) {
        .prawy {
          float: none;
        }

        .news-link {
          margin-bottom: 10%;
          width: 100%;
          display: flex !important;
          flex-direction: column;
          justify-content: center !important;
          align-items: center !important;
        }
      }

      @media (max-width: 720px) {
        .prawy {
          display: block !important;
          margin-top: 5%;
          flex-direction: column !important;
          margin-bottom: 5%;
          padding: 25px 30px 25px 30px;
        }
      }

      @media (max-width: 1024px) {
        .prawy {
          display: flex !important;
          flex-direction: row;
          justify-content: center;
          align-items: center;
        }
      }

      @media (min-width: 720px) {
        .prawy {
          .data {
            width: 90px;
            padding: 4px 4px 4px 7px;
            background-color: #e8e8e8;
            font-weight: 600;
            font-size: 14px;
            margin: 0;
            border: none;
            border-bottom-left-radius: 15px;
            border-bottom-right-radius: 15px;
            border-top-right-radius: 15px;
            left: 15%;
            top: 80px;
          }

          .card-title {
            font-weight: 600;
            font-size: 19px;
          }
          .card-img-top {
            width: 160px;
            min-width: 160px;
            height: 140px;
            float: left;
            object-fit: cover;
          }
          @media (max-width: 1000px) {
            .card-img-top {
              width: 260px;
              min-width: 260px;
              height: 240px;
              float: left;
              object-fit: cover;
            }
          }

          p {
            line-height: 1.1;
            padding-bottom: 10px;
          }
        }
      }

      .lewy {
        float: left !important;
        padding-left: 0 !important;
        padding-right: 0 !important;
        border-radius: 5%;
        background: -moz-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ); /* FF3.6+ */
        background: -webkit-gradient(
          linear,
          left top,
          left bottom,
          color-stop(0%, rgba(0, 0, 0, 0.65)),
          color-stop(100%, rgba(0, 0, 0, 0))
        ); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ); /* Opera 11.10+ */
        background: -ms-linear-gradient(
          top,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ); /* IE10+ */
        background: linear-gradient(
          to bottom,
          rgba(0, 0, 0, 0) 0%,
          rgba(0, 0, 0, 0.65) 100%
        ); /* W3C */
        //filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
        @media (max-width: 1024px) {
          width: 100%;
          margin: 0 auto;
        }
        .card-img-top {
          border-radius: 5%;
          position: relative;
          width: 100%;
          height: 495px;
          //padding-bottom: 20px;
          z-index: -1;
          float: left;
          object-fit: contain;
        }
        p {
          color: white;
          padding-left: 20px;
          padding-right: 20px;
          font-weight: 300;
          text-align: center;
        }
        .title {
          bottom: 9%;
          text-align: center;
          // padding: 20px 10px 10px 10px;
          font-weight: 600;
          font-size: 20px;
          // position: absolute;
          color: white;
          width: 100%;
        }

        @media (min-width: 720px) {
          .title {
            position: absolute;
            color: white;
            width: 100%;
          }
        }
      }
    }

    @media (min-width: 720px) {
      .row {
        display: block !important;
      }
    }

    @media (max-width: 1024px) {
      .row {
        display: flex !important;
      }

      .lewy {
        max-width: none !important;
        float: none !important;
      }
    }
  }

  //STERFA PACJENTA

  .strefa {
    .carousel {
      //height: 100%;
    }
    //@media (max-width: 1024px) {
    //  margin-top: 150vh;
    //}
    .row {
      .flickity-viewport {
        height: 750px;
      }
      .col-md-6 {
        margin-top: 14%;
        margin-bottom: 11%;

        @media (max-width: 480px) {
          margin-top: 30%;
        }
        .card {
          height: 600px;
          width: 100%;
          border-radius: 25px !important;
          z-index: 1;
          text-align: center;
          align-items: center;
          position: relative;

          // @media (max-width: 480px) {
          //   height: 535px;
          // }

          .card-body {
            margin-top: -90px;

            .card-title {
              margin-bottom: 35px;

              @media (max-width: 340px) {
                margin-top: 20px;
              }
            }

            .icon-container {
              margin-top: 35px;
            }
          }

          .button-info {
            display: none;
            font-weight: 700;
          }
          .rounded {
            border-radius: 50% !important;
            z-index: 4;
            align-content: center;
            height: 200px;
            width: 200px;
            object-fit: cover;
            transform: translateY(-100px);

            @media (max-width: 1024px) {
              height: 150px;
              width: 150px;
              transform: translateY(-75px);
            }

            @media (max-width: 350px) {
              height: 100px;
              width: 100px;
              transform: translateY(-50px);
            }
          }

          .ozdobnik-main {
            border-radius: 25px;
            position: absolute;
            max-width: 100%;
            width: 100%;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center;
          }

          .ozdobnik {
            width: 100%;
            // z-index: -1;
            position: absolute;
          }
          .card-body {
            .card-text {
              font-size: 16px;
            }
            .col-lg-4 {
              width: 33%;
              max-width: 150px;
            }
          }
        }
      }
      .card:hover {
        transform: scale(1.05) !important;
        -webkit-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
        transition: 0.5s;
        z-index: 9998;
        @media (max-width: 720px) {
          .col:first-child {
            transform: scale(1) !important;
          }
        }

        .button-info {
          display: inline-block;
          transform: translateY(40px);
          width: 75%;
        }
      }
    }
  }

  //WSPOLPRACA

  .coop {
    background: url("/wp-content/themes/vitamed/assets/img/wspolpraca-tlo.jpg")
      no-repeat center center;
    background-size: cover;
    //margin-right: 15px;
    //margin-left: 15px;
    height: 100vh;
    width: 100%;

    @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
      height: 174vh;
    }

    @media (max-width: 768px) {
      display: flex;
      //justify-content: center;
      align-items: flex-end;
    }

    .btn-wspolpraca {
      font-size: 20px;
      font-weight: 700;
      padding: 14px 15px 17px 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;

      @media (max-width: 768px) {
        font-size: 16px;
        font-weight: 700;
        padding: 12px 13px 15px 13px;
        border-bottom-left-radius: 15px;
        border-bottom-right-radius: 15px;
        border-top-right-radius: 15px;
      }
    }
  }

  .main {
    font-size: 28px;
    line-height: 1.2;

    @media (max-width: 768px) {
      font-size: 20px !important;
    }
  }

  .wspolpraca {
    display: inline-block;
    margin-top: 15%;

    .col {
      margin-top: 35%;
      flex-basis: auto !important;
    }

    @media (min-width: 720px) {
      .col {
        margin-top: 10%;
        flex-basis: 0 !important;
      }
    }

    small {
      font-size: 17px;
    }

    .btn {
      font-size: 20px;
      font-weight: 700;
      padding: 14px 15px 17px 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}

//KARIERA

.carrier {
  background: url("/wp-content/themes/vitamed/assets/img/tlo-sekcja-kariera.jpg")
    no-repeat center right;
  background-size: cover;

  height: 100vh;
  width: 100%;

  // @media (max-width: 1366px) {
  //   background-position: -3600px 0px;
  // }

  @media (max-width: 1024px) and (min-height: 1365px) and (min-resolution: 2dppx) {
    background-position: -3700px 0px !important;
  }

  @media (max-width: 1366px) and (min-resolution: 2dppx) {
    background-position: -2300px 0px;
  }

  @media (max-width: 1024px) and (min-resolution: 2dppx) {
    background-position: -1700px 0px;
  }

  .btn-wspolpraca {
    font-size: 20px;
    font-weight: 700;
    padding: 14px 15px 17px 15px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;

    @media (max-width: 768px) {
      font-size: 16px;
      font-weight: 700;
      padding: 12px 13px 15px 13px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
  @media (min-resolution: 1.5dppx) and (min-width: 1000px) {
    height: 155vh;
  }

  @media (max-width: 768px) {
    background-position: 80% 200px;
    background-size: cover;
  }

  .kariera {
    display: inline-block;
    margin-top: 5%;
    .col {
      margin-top: 15%;
      flex-basis: auto !important;
    }

    @media (min-width: 720px) {
      .col {
        margin-top: 10%;
        flex-basis: 0 !important;
      }
    }
    .main {
      font-size: 28px;
      line-height: 1.2;
    }

    small {
      font-size: 17px;
    }

    .btn {
      font-size: 20px;
      font-weight: 700;
      padding: 14px 15px 17px 15px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px;
    }
  }
}

.gridowe-ikonki {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

.popular-products .flickity-button.previous {
  position: absolute;
  left: -60px;

  @media (max-width: 1500px) {
    left: -30px;
  }

  @media (max-width: 768px) {
    left: 10px;
  }
}

.kolumienka-mobile {
  margin-top: 20%;
  padding-left: 10%;

  @media (min-width: 481px) and (max-width: 1024px) {
    margin-bottom: 50%;
  }
  @media (max-width: 480px) {
    margin-bottom: 30%;
  }


}

.popular-products .flickity-button.next {
  position: absolute;
  right: -60px;

  @media (max-width: 1500px) {
    right: -30px;
  }
  @media (max-width: 768px) {
    right: 10px;
  }
}
