body .container .wspolpraca-main {
  height: 1200px !important; }
  body .container .wspolpraca-main p {
    margin: 0 auto;
    font-size: 22px;
    max-width: 90%; }
  @media (max-width: 1024px) {
    body .container .wspolpraca-main {
      height: 2350px !important; } }

body .container .kariera-main {
  height: 1200px !important; }
  @media (max-width: 1024px) {
    body .container .kariera-main {
      height: 2950px !important; } }

body .container .main .row .benefits {
  font-weight: 700;
  font-size: 18px;
  width: 80%; }

body .container .main .row .left {
  display: flex;
  flex-direction: column;
  align-items: center; }

body .container .main .row .col {
  flex-basis: auto; }
  body .container .main .row .col .pic {
    width: 60px; }
  body .container .main .row .col .wp-content {
    color: darkgray !important;
    font-size: 22px;
    max-width: 90%;
    margin-bottom: 40px; }
  body .container .main .row .col .kariera {
    height: 100%;
    margin-top: 15%;
    background-color: #ececf6;
    padding: 10% 10% 0% 10%;
    border-radius: 35px; }
    body .container .main .row .col .kariera .ozdobnik-main {
      border-radius: 25px;
      position: absolute;
      max-width: 101%;
      z-index: 2;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      top: -5%;
      right: 0;
      text-align: center; }
    body .container .main .row .col .kariera .title {
      font-size: 12px; }
    body .container .main .row .col .kariera h4 {
      margin-top: -1%; }
    body .container .main .row .col .kariera img {
      margin-top: -30%;
      border-radius: 50%;
      box-shadow: 0px 22px 127px -8px #009fe3; }
    body .container .main .row .col .kariera h4 {
      font-weight: 700;
      font-size: 30px;
      padding-bottom: 30px; }
    body .container .main .row .col .kariera form label {
      font-size: 18px; }
    body .container .main .row .col .kariera form input {
      border: none;
      padding: 25px 15px 25px 15px;
      background-color: #ffffff;
      border-bottom-left-radius: 15px;
      border-top-right-radius: 15px;
      border-bottom-right-radius: 15px; }
    body .container .main .row .col .kariera form select {
      border: none;
      padding: 25px 15px 25px 15px;
      background-color: #ffffff;
      border-bottom-left-radius: 15px; }
    body .container .main .row .col .kariera form option {
      border: none;
      padding: 25px 15px 25px 15px;
      background-color: #ffffff;
      border-bottom-left-radius: 15px; }
    body .container .main .row .col .kariera form textarea {
      border: none;
      padding: 25px 15px 25px 15px;
      background-color: #ffffff;
      border-bottom-left-radius: 15px; }
    body .container .main .row .col .kariera .uploader {
      text-align: center;
      border: 3px solid #97bf20;
      width: 100%;
      height: 100px;
      border-bottom-left-radius: 15px;
      border-bottom-right-radius: 15px;
      border-top-right-radius: 15px; }
      body .container .main .row .col .kariera .uploader h5 {
        color: #97bf20;
        font-weight: 300;
        padding: 6px 0 6px 0; }
    body .container .main .row .col .kariera .btn-success {
      padding: 15px 15px 15px 15px;
      font-weight: 700; }

@media (min-width: 720px) {
  body .container .main .row .col {
    flex-basis: 0; }
    body .container .main .row .col .kariera {
      transform: translateY(-230px);
      height: 95%; } }

/* The container */
.check {
  display: block;
  padding-left: 15px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0; }

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #ffffff; }

/* On mouse-over, add a grey background color */
.check:hover input ~ .checkmark {
  background-color: #ccc; }

/* When the checkbox is checked, add a blue background */
.check input:checked ~ .checkmark {
  background-color: #2196f3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.check input:checked ~ .checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

input[type="file"] {
  display: none; }

.file-input {
  text-align: center;
  border: 3px solid #97bf20;
  width: 100%;
  height: 100px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px;
  cursor: pointer; }

.btn-text {
  font-size: 16px !important; }

.wpcf7-list-item-label {
  font-size: 12px !important; }
