main .nowosc {
  width: 60%;
  right: 90px;
  transform: translate(14%, -15px);
  position: absolute; }

main .container .row .col .rounded-img {
  border-radius: 30px; }

main .container .next-section {
  margin-top: 5%;
  font-size: 26px;
  line-height: 1.2; }
  main .container .next-section .col {
    text-align: center;
    justify-content: flex-start;
    display: flex;
    position: relative;
    align-items: flex-start;
    align-content: center;
    margin: 0 auto;
    height: 400px; }
    @media (max-width: 768px) {
      main .container .next-section .col {
        height: 600px;
        flex-direction: column; } }
    main .container .next-section .col p {
      width: 50%; }
      @media (max-width: 768px) {
        main .container .next-section .col p {
          width: 100%; } }
    @media (max-width: 1024px) {
      main .container .next-section .col {
        flex-direction: column-reverse !important; } }
    main .container .next-section .col figure img {
      position: absolute;
      top: -60%; }
      @media (max-width: 1024px) {
        main .container .next-section .col figure img {
          width: 50%;
          top: 0;
          left: 50%; } }
      @media (max-width: 768px) {
        main .container .next-section .col figure img {
          width: 75%;
          height: auto;
          top: 0;
          left: 100px; } }
      main .container .next-section .col figure img p {
        width: 50%; }
        @media (max-width: 768px) {
          main .container .next-section .col figure img p {
            width: 100%; } }
      @media (max-width: 1024px) {
        main .container .next-section .col figure img {
          flex-direction: column-reverse !important; } }
      main .container .next-section .col figure img figure img {
        position: absolute;
        top: -70%;
        top: -50%;
        left: 0%; }
        @media (max-width: 1024px) {
          main .container .next-section .col figure img figure img {
            top: 0;
            width: 50%;
            left: 50%; } }
        @media (max-width: 768px) {
          main .container .next-section .col figure img figure img {
            width: 100%;
            top: -50%;
            left: 0%; } }
        @media (max-width: 480px) {
          main .container .next-section .col figure img figure img {
            width: 100%;
            top: -30%;
            left: 0%; } }
      @media (max-width: 480px) {
        main .container .next-section .col figure img {
          top: 0;
          left: 0%;
          width: 100%;
          height: auto; } }
  main .container .next-section .subtext {
    font-size: 18px;
    line-height: 1.3;
    padding-bottom: 10px; }

main .products-header {
  margin-bottom: 2rem; }

main .product-text-body {
  color: #444; }

main .flicks {
  background-color: #edebf6; }
  main .flicks .products-carousel {
    background: #edebf6; }
    main .flicks .products-carousel .carousel-cell {
      height: 610px;
      background-color: transparent; }
      main .flicks .products-carousel .carousel-cell .card-img-top {
        height: 300px !important;
        object-fit: contain; }
      main .flicks .products-carousel .carousel-cell .nowosc {
        width: 50%;
        transform: translateY(-15px);
        position: absolute; }
      main .flicks .products-carousel .carousel-cell .card {
        border: none;
        border-radius: 25px;
        text-align: center;
        background-color: transparent; }
        main .flicks .products-carousel .carousel-cell .card .card-title {
          font-size: 24px;
          font-weight: bold; }
        main .flicks .products-carousel .carousel-cell .card .button-info {
          transform: translateY(40px); }
          main .flicks .products-carousel .carousel-cell .card .button-info .btn {
            width: 100%; }
        main .flicks .products-carousel .carousel-cell .card:hover {
          background-color: white; }
  main .flicks .ozdobniki {
    position: relative;
    text-align: center; }
    main .flicks .ozdobniki .ozdobnik {
      text-align: center;
      position: relative;
      width: 100%;
      z-index: 2; }
      main .flicks .ozdobniki .ozdobnik-inside {
        position: absolute;
        width: 10%;
        left: 0;
        top: -50%;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        z-index: 3; }
      @media (min-width: 720px) {
        main .flicks .ozdobniki .ozdobnik-inside {
          width: 2%;
          left: 0;
          top: -50%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto; } }
      main .flicks .ozdobniki .ozdobnik-bottom {
        position: absolute;
        width: 50px;
        height: 50px;
        left: 0;
        top: 40%;
        right: 0;
        bottom: 0;
        display: block;
        margin: auto;
        z-index: 3; }
        main .flicks .ozdobniki .ozdobnik-bottom img {
          width: 90%;
          margin-top: 20%; }
      @media (min-width: 720px) {
        main .flicks .ozdobniki .ozdobnik-bottom {
          width: 40px;
          height: 40px;
          left: 0;
          top: 25%;
          right: 0;
          bottom: 0;
          display: block;
          margin: auto; }
          main .flicks .ozdobniki .ozdobnik-bottom img {
            width: 160%;
            padding-right: 10px;
            margin-top: 20%; } }
    @media (max-width: 720px) {
      main .flicks .ozdobniki .text-down {
        left: 42% !important; } }
    main .flicks .ozdobniki .button-up {
      display: none; }
    main .flicks .ozdobniki .button-down {
      display: none; }
    @media (min-width: 720px) {
      main .flicks .ozdobniki .button-down {
        left: 0;
        font-size: 15px;
        line-height: 0.9;
        font-weight: 700;
        top: 30%;
        width: 100%;
        display: block; }
      main .flicks .ozdobniki .button-up {
        top: 52%;
        left: 0;
        width: 100%;
        font-size: 15px;
        line-height: 0.9;
        font-weight: 700;
        display: block; } }
    main .flicks .ozdobniki .ozdobnik2 {
      margin-top: 15px;
      text-align: center;
      position: relative;
      width: 100%;
      text-align: center;
      vertical-align: bottom; }
    @media (min-width: 720px) {
      main .flicks .ozdobniki .ozdobnik {
        flex-basis: 0;
        width: auto; }
      main .flicks .ozdobniki .ozdobnik2 {
        flex-basis: 0;
        width: auto; } }

@media (max-width: 1024px) {
  main .container .next-section .col figure img {
    transform: translateY(0px); }
  main .container-fluid {
    margin-top: 50px !important; }
  figure img {
    width: 100%;
    height: auto; } }
