.symbols-row {
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
  text-align: center;
  align-items: center;
  align-content: center; }
  .symbols-row .col-lg-4 {
    padding: 25px; }
  .symbols-row .col-lg-4:hover {
    transition: 0.5s;
    border: none;
    border-radius: 15px;
    transform: scale(1.03);
    -webkit-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 93px -23px rgba(0, 0, 0, 0.75);
    margin: 0 auto;
    z-index: 10; }
    .symbols-row .col-lg-4:hover .arrow {
      visibility: visible; }
    .symbols-row .col-lg-4:hover .quantity {
      visibility: visible; }
      .symbols-row .col-lg-4:hover .quantity img {
        padding-bottom: 5px;
        width: 8%; }
  .symbols-row .arrow {
    visibility: hidden;
    width: 40px;
    height: 40px; }
  .symbols-row .quantity {
    visibility: hidden;
    width: 100%;
    font-size: 14px;
    text-align: center;
    color: #e1e1e1; }
    .symbols-row .quantity img {
      padding-bottom: 5px;
      width: 8%; }
  .symbols-row .title {
    font-size: 21px;
    font-weight: 600; }
  .symbols-row .border-spec {
    background-color: #fff;
    cursor: pointer; }
  .symbols-row .hover-77 {
    order: 1; }
  .symbols-row .hover-80 {
    order: 2; }
  .symbols-row .hover-65 {
    order: 3; }
  .symbols-row .hover-68 {
    order: 4; }
  .symbols-row .hover-71 {
    order: 5; }
  .symbols-row .hover-74 {
    order: 6; }
  .symbols-row .hover-523 {
    order: 1; }
  .symbols-row .hover-535 {
    order: 2; }
  .symbols-row .hover-525 {
    order: 3; }
  .symbols-row .hover-511 {
    order: 4; }
  .symbols-row .hover-528 {
    order: 5; }
  .symbols-row .hover-534 {
    order: 6; }
  .symbols-row .border-spec-eng {
    background-color: #fff; }
    .symbols-row .border-spec-eng:first-child {
      border-top: 1px solid #ddd;
      border-right: 1px solid #ddd; }
    .symbols-row .border-spec-eng:nth-child(5) {
      border-left: 1px solid #ddd; }
    .symbols-row .border-spec-eng:nth-child(7) {
      border-top: 1px solid #ddd; }
    .symbols-row .border-spec-eng:nth-child(3) {
      border-right: 1px solid #ddd; }
    .symbols-row .border-spec-eng:nth-child(11) {
      border-left: 1px solid #ddd;
      border-top: 1px solid #ddd; }
    .symbols-row .border-spec-eng:nth-child(4) {
      border-left: none; }
    @media (max-width: 1024px) {
      .symbols-row .border-spec-eng {
        border: 0px !important; } }
  .symbols-row .border-spec:first-child {
    border-right: 1px solid #ddd; }
  .symbols-row .border-spec:nth-child(7) {
    border-top: 1px solid #ddd; }
  .symbols-row .border-spec:nth-child(9) {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd; }
  .symbols-row .border-spec:nth-child(3) {
    border-left: 1px solid #ddd; }
  .symbols-row .border-spec:nth-child(5) {
    border-top: 1px solid #ddd;
    border-right: 1px solid #ddd; }
  .symbols-row .border-spec:nth-child(11) {
    border-right: none; }
  .symbols-row .border-spec:nth-child(4) {
    border-left: none; }
  @media (max-width: 1024px) {
    .symbols-row .border-spec {
      border: 0px !important; } }
