body main .container-fluid .products-carousel {
  background: #edebf6; }
  body main .container-fluid .products-carousel .carousel-cell {
    height: 600px; }
  body main .container-fluid .products-carousel .card {
    border-radius: 25px;
    text-align: center; }
    body main .container-fluid .products-carousel .card .button-info {
      transform: translateY(30px); }

body main .container-fluid .container .row .col-lg-4 .filter-color {
  filter: saturate(100%) brightness(0) invert(83%) sepia(0%) saturate(6339%) hue-rotate(224deg) brightness(99%) contrast(81%); }

body main .container-fluid .container .row .col-lg-4 .button-info {
  transform: translateY(20px); }

body main .container-fluid .container .row .col-lg-4 .card-round {
  border-radius: 25px; }
  body main .container-fluid .container .row .col-lg-4 .card-round .ozdobnik-main {
    border-radius: 25px; }
  body main .container-fluid .container .row .col-lg-4 .card-round .round-image {
    border-radius: 50% !important;
    height: 200px;
    width: 200px;
    object-fit: cover;
    margin: 0 auto;
    transform: translateY(-50px);
    display: block; }
