main .container .opis,
main .container .row {
  margin-bottom: 1%; }
  main .container .opis li,
  main .container .row li {
    margin: 0;
    font-size: 20px;
    padding: 15px 0 15px 40px;
    color: #666 !important;
    list-style: none;
    background-image: url("../img/lista-znacznik@2.png");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 30px; }
  main .container .opis .col,
  main .container .row .col {
    flex-basis: auto; }
    main .container .opis .col h2,
    main .container .row .col h2 {
      font-weight: 300;
      width: 70% !important; }
    main .container .opis .col h2 strong,
    main .container .row .col h2 strong {
      font-weight: 700; }
    main .container .opis .col .content,
    main .container .row .col .content {
      font-size: 1rem; }
  @media (min-width: 720px) {
    main .container .opis .col,
    main .container .row .col {
      flex-basis: 0; } }
  main .container .opis p,
  main .container .row p {
    width: 100%; }
  main .container .opis .no-border,
  main .container .row .no-border {
    border-radius: 0 !important;
    border-top-left-radius: 25px !important;
    border-top-right-radius: 25px !important; }
  main .container .opis .right,
  main .container .row .right {
    position: relative; }
    @media (max-width: 720px) {
      main .container .opis .right .box,
      main .container .row .right .box {
        margin-top: -1% !important; } }
    main .container .opis .right .box,
    main .container .row .right .box {
      margin-top: -10%;
      display: flex;
      align-content: center;
      flex-direction: column; }
      @media (max-width: 1024px) {
        main .container .opis .right .box,
        main .container .row .right .box {
          margin-top: 20% !important; } }
      main .container .opis .right .box .image-cropper,
      main .container .row .right .box .image-cropper {
        height: 100%;
        width: 570px; }
        @media (max-width: 480x) {
          main .container .opis .right .box .image-cropper,
          main .container .row .right .box .image-cropper {
            width: 90%;
            margin: 0 auto; } }
      main .container .opis .right .box .image-cropper-alt,
      main .container .row .right .box .image-cropper-alt {
        height: 100%;
        width: 570px; }
        @media (max-width: 350px) {
          main .container .opis .right .box .image-cropper-alt,
          main .container .row .right .box .image-cropper-alt {
            height: 246px; } }
      main .container .opis .right .box .image-cropper,
      main .container .row .right .box .image-cropper {
        margin-top: 40%; }
      main .container .opis .right .box .image-cropper-alt,
      main .container .row .right .box .image-cropper-alt {
        margin-top: 30%; }
      main .container .opis .right .box .image-cropper,
      main .container .opis .right .box .image-cropper-alt,
      main .container .row .right .box .image-cropper,
      main .container .row .right .box .image-cropper-alt {
        text-align: left;
        border: 1px solid #e8e8e8;
        border-radius: 25px; }
        @media (max-width: 768px) {
          main .container .opis .right .box .image-cropper,
          main .container .opis .right .box .image-cropper-alt,
          main .container .row .right .box .image-cropper,
          main .container .row .right .box .image-cropper-alt {
            margin: 0 auto;
            margin-top: 18%;
            width: 100%;
            margin-bottom: 20%; } }
        main .container .opis .right .box .image-cropper .rounded-image,
        main .container .opis .right .box .image-cropper-alt .rounded-image,
        main .container .row .right .box .image-cropper .rounded-image,
        main .container .row .right .box .image-cropper-alt .rounded-image {
          width: 120px;
          height: 120px;
          background-repeat: no-repeat;
          background-position: 51%;
          border: 1px solid #e8e8e8;
          background-color: #fff;
          border-radius: 50%;
          background-size: 80px;
          margin: 0 auto;
          z-index: 9999;
          transform: translate(5px, -80px); }
        main .container .opis .right .box .image-cropper .niebieski-ozdobnik,
        main .container .opis .right .box .image-cropper-alt .niebieski-ozdobnik,
        main .container .row .right .box .image-cropper .niebieski-ozdobnik,
        main .container .row .right .box .image-cropper-alt .niebieski-ozdobnik {
          position: absolute;
          z-index: -1;
          margin-left: auto;
          margin-right: auto;
          left: 0;
          right: 0;
          text-align: center; }
        main .container .opis .right .box .image-cropper .description,
        main .container .opis .right .box .image-cropper-alt .description,
        main .container .row .right .box .image-cropper .description,
        main .container .row .right .box .image-cropper-alt .description {
          transform: translateY(-60px);
          font-size: 17px;
          width: 90%;
          margin: 0 auto; }
          main .container .opis .right .box .image-cropper .description p,
          main .container .opis .right .box .image-cropper-alt .description p,
          main .container .row .right .box .image-cropper .description p,
          main .container .row .right .box .image-cropper-alt .description p {
            margin-top: 2rem; }
          main .container .opis .right .box .image-cropper .description h3,
          main .container .opis .right .box .image-cropper-alt .description h3,
          main .container .row .right .box .image-cropper .description h3,
          main .container .row .right .box .image-cropper-alt .description h3 {
            font-weight: 700; }
    main .container .opis .right .box-second,
    main .container .row .right .box-second {
      margin-top: 5%; }
    main .container .opis .right h3,
    main .container .row .right h3 {
      text-align: center;
      padding-top: 3%; }

main .wyrob {
  background-color: #009fe3;
  background-clip: padding-box;
  font-weight: 600;
  font-size: 1.2rem;
  width: 100%;
  border-bottom-left-radius: 25px !important;
  border-bottom-right-radius: 25px !important;
  text-align: center; }
  main .wyrob p {
    color: #fff !important; }

main .dodatkowy {
  margin-top: 1rem; }
  main .dodatkowy p {
    font-size: 0.75rem; }

main .wskazania {
  border-radius: 25px;
  margin-top: 5%;
  padding-top: 45px;
  padding-bottom: 55px;
  margin-bottom: 5%;
  font-size: 18px;
  background-color: #edebf6;
  width: 80%; }
  @media (max-width: 769px) {
    main .wskazania {
      width: 95%; } }
  main .wskazania h3 {
    text-align: center;
    padding-top: 3%; }
  main .wskazania p {
    text-align: center;
    padding-bottom: 5%;
    font-size: 21px;
    padding-top: 15px; }

main .dodatkowy-tekst {
  font-size: 0.5rem; }

main .preparaty {
  text-align: center;
  align-content: center;
  align-items: center; }
  main .preparaty a {
    text-decoration: none; }
  main .preparaty .preparaty-row {
    display: flex;
    justify-content: center;
    align-items: center; }
    main .preparaty .preparaty-row .order-68 {
      order: 4; }
    main .preparaty .preparaty-row .order-77 {
      order: 1; }
    main .preparaty .preparaty-row .order-65 {
      order: 3; }
    main .preparaty .preparaty-row .order-71 {
      order: 5; }
    main .preparaty .preparaty-row .order-80 {
      order: 2; }
    main .preparaty .preparaty-row .order-74 {
      order: 6; }
    main .preparaty .preparaty-row .col {
      height: 220px;
      width: 200px;
      font-weight: 700;
      font-size: 18px; }
      main .preparaty .preparaty-row .col .btn-offer {
        visibility: hidden; }
      main .preparaty .preparaty-row .col .arrow {
        display: none; }
      main .preparaty .preparaty-row .col .symbol {
        width: 120px;
        padding: 15px; }
    main .preparaty .preparaty-row .col:hover {
      margin: 0;
      transform: scale(1.02);
      transition: 0.5s;
      border-radius: 15px;
      box-shadow: 0 20px 25px rgba(0, 0, 0, 0.12), 0 4px 8px rgba(0, 0, 0, 0.06);
      text-decoration: none;
      visibility: visible;
      /*border:1px solid #e6e6e6;*/
      /*border-radius: 10px;*/ }
      main .preparaty .preparaty-row .col:hover .btn-offer {
        visibility: visible; }
  @media (max-width: 720px) {
    main .preparaty .preparaty-row {
      display: inline-table; } }

@media (max-width: 1024px) {
  .wp-block-embed__wrapper {
    display: flex;
    justify-content: center;
    align-items: center; }
  iframe {
    width: 300px; }
  .image-cropper-alt,
  .image-cropper {
    position: relative; }
  .niebieski-ozdobnik {
    max-width: 100%; } }

.col.content > * {
  width: 100% !important; }

figure {
  margin-top: 30px !important; }

.wp-block-video > video {
  width: 98%; }

.filmik {
  margin: 0 auto; }
