body .flickity-page-dots {
  bottom: -25px !important; }

body .tag {
  left: 50% !important;
  font-weight: 600;
  width: 70%; }

@media (min-width: 720px) {
  body .tag {
    font-weight: 600;
    width: 55%; } }

body .container .main {
  padding-bottom: 2%; }
  body .container .main .single-container {
    display: flex;
    flex-direction: row; }
    @media (max-width: 1024px) {
      body .container .main .single-container {
        flex-direction: column; } }
    body .container .main .single-container .col-8 {
      color: #444 !important;
      width: 90%; }
      body .container .main .single-container .col-8 .wp-block-image img {
        width: 100%;
        height: auto;
        max-width: 470px; }
      body .container .main .single-container .col-8 li {
        margin: 0;
        padding: 15px 0 15px 40px;
        list-style: none;
        background-image: url("../img/lista-znacznik@2.png");
        background-repeat: no-repeat;
        background-position: left center;
        background-size: 30px; }
      @media (max-width: 768px) {
        body .container .main .single-container .col-8 {
          max-width: none; } }
      body .container .main .single-container .col-8 > * {
        color: #444 !important;
        font-size: 1.25rem; }
      body .container .main .single-container .col-8 > * > * {
        color: #444 !important; }
      body .container .main .single-container .col-8 a {
        color: white !important; }
      body .container .main .single-container .col-8 .product-image {
        width: 50%;
        border-radius: 5%;
        text-align: center;
        margin: 0 auto;
        align-items: center; }
    body .container .main .single-container .col-2,
    body .container .main .single-container .col-3,
    body .container .main .single-container .col-4 {
      flex: auto;
      max-width: 33.33333%; }
      @media (max-width: 1024px) {
        body .container .main .single-container .col-2,
        body .container .main .single-container .col-3,
        body .container .main .single-container .col-4 {
          max-width: 95%; } }
      body .container .main .single-container .col-2 .box,
      body .container .main .single-container .col-3 .box,
      body .container .main .single-container .col-4 .box {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 100%;
        background-color: #e8e8e8;
        height: 200px;
        border-radius: 25px; }
        body .container .main .single-container .col-2 .box .box-logos > *,
        body .container .main .single-container .col-3 .box .box-logos > *,
        body .container .main .single-container .col-4 .box .box-logos > * {
          margin-left: 1rem !important;
          margin-right: 1rem !important; }
          @media (max-width: 480px) {
            body .container .main .single-container .col-2 .box .box-logos > *,
            body .container .main .single-container .col-3 .box .box-logos > *,
            body .container .main .single-container .col-4 .box .box-logos > * {
              margin-left: 0.25rem !important;
              margin-right: 0.25rem !important;
              margin-top: 0.25rem !important; } }
        body .container .main .single-container .col-2 .box img,
        body .container .main .single-container .col-3 .box img,
        body .container .main .single-container .col-4 .box img {
          max-width: 60px; }
        body .container .main .single-container .col-2 .box p,
        body .container .main .single-container .col-3 .box p,
        body .container .main .single-container .col-4 .box p {
          align-self: center;
          padding-top: 25px;
          font-weight: 700;
          font-size: 20px; }
        body .container .main .single-container .col-2 .box .image-box,
        body .container .main .single-container .col-3 .box .image-box,
        body .container .main .single-container .col-4 .box .image-box {
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center; }
      body .container .main .single-container .col-2 .recommended .title,
      body .container .main .single-container .col-3 .recommended .title,
      body .container .main .single-container .col-4 .recommended .title {
        font-size: 24px;
        font-weight: 500; }
      body .container .main .single-container .col-2 .carousel .flickity-prev-next-button.previous,
      body .container .main .single-container .col-3 .carousel .flickity-prev-next-button.previous,
      body .container .main .single-container .col-4 .carousel .flickity-prev-next-button.previous {
        left: 10px; }
      body .container .main .single-container .col-2 .carousel .flickity-prev-next-button.next,
      body .container .main .single-container .col-3 .carousel .flickity-prev-next-button.next,
      body .container .main .single-container .col-4 .carousel .flickity-prev-next-button.next {
        right: 10px; }
      body .container .main .single-container .col-2 .carousel .col,
      body .container .main .single-container .col-3 .carousel .col,
      body .container .main .single-container .col-4 .carousel .col {
        margin-left: 2%;
        margin-top: 13%;
        padding-left: 0;
        padding-right: 0;
        margin-bottom: 11%; }
        @media (min-width: 720px) {
          body .container .main .single-container .col-2 .carousel .col .col,
          body .container .main .single-container .col-3 .carousel .col .col,
          body .container .main .single-container .col-4 .carousel .col .col {
            margin-top: auto;
            margin-bottom: auto; } }
        body .container .main .single-container .col-2 .carousel .col .card,
        body .container .main .single-container .col-3 .carousel .col .card,
        body .container .main .single-container .col-4 .carousel .col .card {
          height: 480px;
          width: 290px;
          border-radius: 25px !important;
          z-index: 1;
          text-align: center;
          align-items: center;
          position: relative; }
          body .container .main .single-container .col-2 .carousel .col .card .button-info,
          body .container .main .single-container .col-3 .carousel .col .card .button-info,
          body .container .main .single-container .col-4 .carousel .col .card .button-info {
            display: none;
            font-weight: 700; }
          body .container .main .single-container .col-2 .carousel .col .card .rounded,
          body .container .main .single-container .col-3 .carousel .col .card .rounded,
          body .container .main .single-container .col-4 .carousel .col .card .rounded {
            border-radius: 50% !important;
            z-index: 3;
            position: absolute;
            align-content: center;
            right: 24%;
            margin-top: -25%;
            height: 200px;
            width: 200px;
            object-fit: cover; }
          body .container .main .single-container .col-2 .carousel .col .card .ozdobnik-main,
          body .container .main .single-container .col-3 .carousel .col .card .ozdobnik-main,
          body .container .main .single-container .col-4 .carousel .col .card .ozdobnik-main {
            border-radius: 25px;
            position: absolute;
            max-width: 101%;
            z-index: 2;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            text-align: center; }
          body .container .main .single-container .col-2 .carousel .col .card .ozdobnik,
          body .container .main .single-container .col-3 .carousel .col .card .ozdobnik,
          body .container .main .single-container .col-4 .carousel .col .card .ozdobnik {
            width: 100%;
            position: absolute; }
          body .container .main .single-container .col-2 .carousel .col .card .card-body,
          body .container .main .single-container .col-3 .carousel .col .card .card-body,
          body .container .main .single-container .col-4 .carousel .col .card .card-body {
            margin-top: 32%; }
            body .container .main .single-container .col-2 .carousel .col .card .card-body .card-text,
            body .container .main .single-container .col-3 .carousel .col .card .card-body .card-text,
            body .container .main .single-container .col-4 .carousel .col .card .card-body .card-text {
              font-size: 13px; }
            body .container .main .single-container .col-2 .carousel .col .card .card-body .col-lg-4,
            body .container .main .single-container .col-3 .carousel .col .card .card-body .col-lg-4,
            body .container .main .single-container .col-4 .carousel .col .card .card-body .col-lg-4 {
              width: 33%;
              max-width: 150px; }
      body .container .main .single-container .col-2 .carousel .card:hover,
      body .container .main .single-container .col-3 .carousel .card:hover,
      body .container .main .single-container .col-4 .carousel .card:hover {
        transform: scale(1.05) !important;
        -webkit-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
        box-shadow: 0px 0px 32px -23px rgba(0, 0, 0, 0.75);
        transition: 0.5s; }
        @media (max-width: 720px) {
          body .container .main .single-container .col-2 .carousel .card:hover .col:first-child,
          body .container .main .single-container .col-3 .carousel .card:hover .col:first-child,
          body .container .main .single-container .col-4 .carousel .card:hover .col:first-child {
            transform: scale(1) !important; } }
        body .container .main .single-container .col-2 .carousel .card:hover .button-info,
        body .container .main .single-container .col-3 .carousel .card:hover .button-info,
        body .container .main .single-container .col-4 .carousel .card:hover .button-info {
          display: inline-block;
          transform: translateY(40px);
          width: 75%; }
      body .container .main .single-container .col-2 .products-carousell .karuzela .flickity-prev-next-button.previous,
      body .container .main .single-container .col-3 .products-carousell .karuzela .flickity-prev-next-button.previous,
      body .container .main .single-container .col-4 .products-carousell .karuzela .flickity-prev-next-button.previous {
        left: 10px; }
      body .container .main .single-container .col-2 .products-carousell .karuzela .flickity-prev-next-button.next,
      body .container .main .single-container .col-3 .products-carousell .karuzela .flickity-prev-next-button.next,
      body .container .main .single-container .col-4 .products-carousell .karuzela .flickity-prev-next-button.next {
        right: 10px; }
      @media (max-width: 1024px) {
        body .container .main .single-container .col-2 .products-carousell .karuzela,
        body .container .main .single-container .col-3 .products-carousell .karuzela,
        body .container .main .single-container .col-4 .products-carousell .karuzela {
          width: 100%; } }
      body .container .main .single-container .col-2 .products-carousell .karuzela .carousel,
      body .container .main .single-container .col-3 .products-carousell .karuzela .carousel,
      body .container .main .single-container .col-4 .products-carousell .karuzela .carousel {
        width: 100%;
        margin: 0 auto;
        text-align: center; }
        body .container .main .single-container .col-2 .products-carousell .karuzela .carousel p,
        body .container .main .single-container .col-3 .products-carousell .karuzela .carousel p,
        body .container .main .single-container .col-4 .products-carousell .karuzela .carousel p {
          color: #444 !important;
          font-weight: 400; }
        body .container .main .single-container .col-2 .products-carousell .karuzela .carousel .flickity-viewport,
        body .container .main .single-container .col-3 .products-carousell .karuzela .carousel .flickity-viewport,
        body .container .main .single-container .col-4 .products-carousell .karuzela .carousel .flickity-viewport {
          border-radius: 15px; }
        @media (max-width: 1024px) {
          body .container .main .single-container .col-2 .products-carousell .karuzela .carousel,
          body .container .main .single-container .col-3 .products-carousell .karuzela .carousel,
          body .container .main .single-container .col-4 .products-carousell .karuzela .carousel {
            width: 100%; } }
        body .container .main .single-container .col-2 .products-carousell .karuzela .carousel .carousel-cell .product-button,
        body .container .main .single-container .col-3 .products-carousell .karuzela .carousel .carousel-cell .product-button,
        body .container .main .single-container .col-4 .products-carousell .karuzela .carousel .carousel-cell .product-button {
          background-color: #009fe3;
          color: #fff;
          font-weight: 700;
          outline: 0;
          border: 0;
          margin-top: 10px;
          padding: 10px 15px 10px 15px;
          border-bottom-left-radius: 15px;
          border-bottom-right-radius: 15px;
          border-top-right-radius: 15px;
          cursor: pointer; }
        @media (max-width: 1024px) {
          body .container .main .single-container .col-2 .products-carousell .karuzela .carousel .carousel-cell .img-carosell,
          body .container .main .single-container .col-3 .products-carousell .karuzela .carousel .carousel-cell .img-carosell,
          body .container .main .single-container .col-4 .products-carousell .karuzela .carousel .carousel-cell .img-carosell {
            padding-top: 35px; } }
    body .container .main .single-container .col-8 {
      flex: auto; }

.grid-patient {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr); }
  .grid-patient .grid-cell-patient-1 {
    grid-column: 1 / 5;
    grid-row: 1 / 6; }
  .grid-patient .grid-cell-patient-2 {
    grid-column: 5 / 9;
    grid-row: 1 / -1; }
  .grid-patient .grid-cell-patient-3 {
    grid-column: 9 / -1;
    grid-row: 1 / 6; }
  @media (max-width: 1024px) {
    .grid-patient .grid-cell-patient-1 {
      grid-column: 1 / -1;
      grid-row: 5 / 9; }
    .grid-patient .grid-cell-patient-2 {
      grid-column: 1 / -1;
      grid-row: 1 / 5; }
    .grid-patient .grid-cell-patient-3 {
      grid-column: 1 / -1;
      grid-row: 9 / -1; } }

.zdjatko-container {
  display: flex;
  justify-content: center; }

.zdjatko {
  width: 50%;
  height: auto; }
