@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
@media (min-resolution: 1.5dppx) and (min-width: 1000px) {
  a {
    text-decoration: none; }
  body {
    margin: 0;
    transform-origin: top left; }
  html {
    overflow-x: hidden; }
  .header-image .header-container {
    width: 100% !important; } }

.body {
  background: linear-gradient(0deg, #edebf6 0%, white 40%) !important; }

.news p,
.wp-content p,
.wskazania p,
.col.content.mt-5 ul li,
.product-category-text,
.subtext,
.grey-text {
  color: #444 !important; }

.description p {
  color: #888 !important; }

.lewy p {
  color: #fff !important; }

.col.content.mt-5 ul li {
  font-weight: 300; }

.product-category-text {
  font-size: 18px;
  font-weight: 300; }

.dark-blue-text {
  color: #012442 !important; }

.transparent {
  background: rgba(0, 0, 0, 0); }

.flickity-page-dots {
  bottom: 0px !important; }

.dot.is-selected {
  background: #009fe3 !important; }

.dot {
  width: 16px !important;
  height: 16px !important;
  margin: 0 4px !important; }

* {
  font-family: "Ubuntu", sans-serif !important;
  color: #012442; }

.btn-success {
  background-color: #97bf20;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; }

.btn-primary {
  background-color: #009fe3;
  border: none;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; }

.strefa-karuzela .filter-color {
  width: 50% !important;
  filter: saturate(100%) brightness(0) invert(83%) sepia(0%) saturate(6339%) hue-rotate(224deg) brightness(99%) contrast(81%); }
  @media (max-width: 992px) {
    .strefa-karuzela .filter-color {
      width: 100%; } }

.header .row {
  position: relative;
  height: 500px;
  flex-basis: auto; }
  .header .row .col {
    top: 50%;
    height: 200px; }
    .header .row .col img {
      position: absolute;
      width: auto;
      height: 90vh; }
  @media (min-width: 720px) {
    .header .row .col {
      flex-basis: 0; } }

.header .menu {
  display: -ms-flexbox;
  color: white;
  font-weight: 600;
  flex-direction: row;
  display: flex;
  -ms-flex-direction: column;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  padding-top: 1.55%;
  align-items: center; }
  .header .menu a {
    color: white;
    padding: 15px; }
  .header .menu .menu-item {
    padding-right: 0;
    padding-left: 0; }

.header .nav-link,
.header .a {
  color: white; }

.header .tag {
  position: absolute;
  font-weight: 400;
  color: white !important;
  left: 30%;
  top: 40%;
  transform: translate(-50%, -50%);
  clear: both;
  font-size: 46px; }
  .header .tag p {
    color: white; }

.header .preparaty {
  font-size: 15px;
  padding: 4% 6%;
  font-weight: 700; }

.header .mobile-list {
  display: none; }

.header .desktop-navbar {
  border-top: 1px solid #97bf2079;
  white-space: nowrap; }

.header .new_menu_class_alt {
  border-top: 1px solid #27415f; }

.header .current-menu-item a {
  border-top: 2px solid #fff; }

.header .outline-alt {
  border-top: 2px solid #27415f !important; }

.header .link-navbar {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%; }

.header .link-navbar a {
  text-decoration: none; }

.header .doctor-image,
.header .pharmacist-image {
  max-width: 1.25rem;
  margin-right: 1rem; }

.header .pharmacist-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 1rem;
  padding-right: 1rem; }

.header .doctor-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  padding-left: 0rem;
  padding-right: 1rem; }

.header .doctor-container-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%; }

.header .pharmacist-container-mobile {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2%; }

.header .websites-mobile {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin-top: 5%; }

.header .language-container-mobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5%; }

.header .language-container-mobile a {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

.header .language-container-mobile p {
  margin-top: 15px;
  padding: 5%; }

.header .outline-green {
  border-right: 1px solid #97bf2079; }

.header .outline-blue {
  border-right: 1px solid #27415f; }

.header .link-text {
  color: #fff;
  margin-top: 20px;
  white-space: nowrap;
  font-size: 0.75rem; }

.header .link-text-mobile {
  font-size: 1rem;
  color: #000; }

.header .link-text-alt {
  color: #27415f !important; }

.header .language-container {
  display: flex;
  flex-direction: row; }

.header .language-container a {
  padding-left: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }

.header .language-container a:hover {
  text-decoration: none; }

.header .language {
  color: #fff;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: 20px;
  font-size: 0.75rem; }

.header .language-mobile {
  color: #000;
  font-size: 1rem; }

.header .language-alt {
  color: #27415f !important; }

.header .menu-right-side {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end; }
  .header .menu-right-side .search {
    -moz-border-radius: 5px;
    height: 40px;
    width: 0px;
    display: none;
    color: black;
    font-weight: 600;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-top-right-radius: 15px;
    margin: auto;
    margin-top: 64px;
    margin-left: 0px; }

.header .navbar {
  display: flex;
  justify-content: space-between;
  top: 0;
  width: 100%;
  padding-bottom: 2rem;
  position: fixed;
  z-index: 9999; }

@media (max-width: 1024px) {
  .header .navbar {
    display: flex;
    justify-content: space-between;
    top: 0;
    width: 100%;
    padding-bottom: 1rem;
    position: fixed;
    z-index: 9999; } }

.header .logo {
  width: 50% !important; }

@media (max-width: 1024px) {
  .header .logo {
    width: 25% !important; } }

.header .navbar-wrapper {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 0;
  right: 0; }

.header .navbar-main {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center; }

.header .search-icon {
  position: absolute;
  top: 50px;
  right: 20px;
  padding: 10px;
  border-radius: 50%;
  border-top-left-radius: 0%;
  background-color: #a0bd49;
  height: 40px;
  width: 40px;
  margin: 0 1rem;
  cursor: pointer; }

.header .search-icon img {
  max-width: 45%; }

.header .secondary-header {
  background-color: white; }

.header .secondary-text * {
  color: #27415f !important; }

@media (max-width: 768px) {
  .header .menu {
    font-size: 0.9rem; } }

@media (max-width: 1024px) {
  .header .desktop-navbar {
    display: none; }
  .header .tag {
    left: 50% !important; }
  .header .new_menu_class {
    border: 0; }
  .header .current-menu-item a {
    border-top: 0; }
  .header .tag {
    font-size: 2.5em;
    font-weight: 300; }
  .header .menu-right-side {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; }
  .header .link-navbar {
    display: none; }
  .header .mobile-navbar {
    display: block;
    position: absolute;
    width: 35px;
    height: 8px;
    background-color: #a0bd49;
    right: 1rem;
    z-index: 9999; }
  .header .search-icon {
    padding: 0.3rem;
    display: flex;
    position: fixed;
    top: 0.8rem;
    right: 2%;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #a0bd49;
    height: 1.65rem;
    width: 1.65rem;
    cursor: pointer; }
  .header .mobile-wrapper {
    display: block;
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    padding: 5%;
    top: 2rem;
    right: 8%; }
  .header .active-p {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #fff;
    top: 0;
    left: 0;
    height: 50vh;
    width: 100vw;
    box-shadow: 0px 7px 27px -12px #000000;
    animation: fadeIn 0.5s ease-in-both; }
  .header .mobile-navbar::before {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 8px;
    background-color: #a0bd49;
    top: 1rem;
    right: 8%;
    z-index: 3; }
  .header .search-icon {
    right: 3rem; }
  .header .mobile-navbar::after {
    content: "";
    display: block;
    position: absolute;
    width: 45px;
    height: 8px;
    background-color: #a0bd49;
    top: -1rem;
    right: 8%;
    z-index: 3; }
  .header .menu {
    display: flex;
    height: 25%;
    justify-content: space-around;
    align-items: center;
    white-space: nowrap;
    flex-direction: column;
    font-size: 1.3rem; }
    .header .menu a {
      color: black !important;
      padding: 1rem; } }

.header button {
  margin-top: 10px;
  padding: 10px 15px 10px 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-top-right-radius: 15px; }

main {
  /*# sourceMappingURL=style.css.map */ }
  main .news-list .row {
    text-align: center; }
    main .news-list .row img {
      width: 250px;
      height: 250px;
      object-fit: cover;
      margin: auto;
      margin-top: 15px;
      border-radius: 25px; }

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translate3d(0, -20%, 0); }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0); } }
